<% if Settings.features.special_spec_note && current_request.origin == 'SPEC-COLL' %>
  <div class="form-group">
    <div class="<%= label_column_class %> control-label">
      Reading Room access
    </div>
    <div class="<%= content_column_class %> input-like-text">
      When the items have been approved and are ready for use, you'll receive an email with a link to schedule access to the Reading Room.
    </div>
  </div>
<% end %>

<%= render partial: 'requests/needed_date', locals: { f: f } %>
