<div id="eligibility-confirm-overlay" class='confirmation-overlay'>
  <div class='modal-body'>
    <h1>David Rumsey Map Center request</h1>
    <p><strong>The David Rumsey Map Center is currently closed.</strong> Restricted items are made available for use in the Special Collections Reading Room of Green Library.</p>

    <h2 class="h3">Who can visit the Reading Room?</h2>
    <p>Professors (including emeriti), academic staff, students, post-docs, graduate students, fellows, and Stanford Visiting Scholars with a current Stanford ID card.</p>
    <p>To maintain social distancing, the Reading Room will admit one researcher per table in 2-hour blocks.</p>

    <h2 class="h3">How does it work?</h2>
    <ol>
      <li>Request the item.</li>
      <li>When it's ready for use, we'll send you an email with instructions to schedule your visit.</li>
      <li>Follow the required health and safety protocols and Special Collections policies when you arrive for your visit.</li>
    </ol>

    <p>
      <i class="sul-i-navigation-next-4"></i> <%= link_to('Special Collections policies', 'https://library.stanford.edu/spc/use-materials-field-room', target: '_blank') %>
    </p>

    <div>
      <%= button_tag('Continue', class: 'btn btn-success', type: 'button', data: { behavior: 'close-overlay', 'close-target' => '#eligibility-confirm-overlay' }) %>
      <% unless params[:modal] %>
        <%= link_to('Cancel', "#{Settings.searchworks_link}/#{current_request.item_id}", class: 'btn btn-link') %>
      <% end %>
    </div>
  </div>
</div>
