<div class='<%= dialog_column_class %> success-page'>
  <h1 id='dialogTitle'>
    <h1>Sorry, we can't fulfill your request</h1>
  </h1>

  <p>It appears that you do not belong to any of the groups eligible for this service:</p>

  <ul>
    <li>faculty</li>
    <li>staff</li>
    <li>students</li>
    <li>post-docs</li>
    <li>graduate students</li>
    <li>fellows</li>
    <li>Stanford Visiting Scholars</li>
  </ul>

  <p>... with a current Stanford University card.</p>
  <p>If you believe this is an error, contact <a href="mailto:greencirc@stanford.edu">greencirc@stanford.edu</a>.</p>
</div>
