<h1 class="fw-semibold">Broadcast messages for request forms</h1>

<div>
  <%= render partial: 'messages_for_library', locals: { library_code: 'anywhere', request_type: 'scan' } %>
</div>

<div>
  <%= render partial: 'messages_for_library', locals: { library_code: 'anywhere', request_type: 'page'} %>
</div>

<% Folio::Types.libraries.all.each do |library| %>
  <div class="library-page-<%= library.code %>">
    <%= render partial: 'messages_for_library', locals: { library_name: library.name, library_code: library.code, request_type: 'page'} %>
  </div>
<% end %>
