# See http://gitready.com/beginner/2009/01/19/ignoring-files.html for suggestions
# Can ignore specific files
.DS_Store
*~
*.swp
log/*

# From old .cvsignore files
coverage/*
config/database.yml
config/environment.rb
yaml_db

.cvsignore

.idea
db/test.sqlite3
