<div class="dropdown">
  <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filter by <%= params[:filter] ? params[:filter] : '' %>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <%= link_to url_for(request.query_parameters.merge({filter: nil})), role: 'menuitem', class: "dropdown-item #{'active' unless params[:filter]}" do %>
        All
      <% end %>
    </li>
    <% @activity_types&.each do |activity_type| %>
      <li role="presentation">
        <%= link_to url_for(request.query_parameters.merge({filter: activity_type})), role: 'menuitem', class: "dropdown-item #{'active' if params[:filter] == activity_type}" do %>
          <%= activity_type %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
