<div class="dropdown">
  <% sort_fields = {'sort_key' => 'Date', 'name' => 'Activity name', 'activity_type' => 'Activity type'} %>

  <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sort by <%= params[:sort] ? sort_fields[params[:sort]] : '' %>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% sort_fields.each do |sort_field, label| %>
      <li>
        <%= link_to url_for(request.query_parameters.merge({sort: sort_field})), class: "dropdown-item #{'active' if params[:sort] == sort_field || (!params[:sort] && sort_field == sort_fields.keys.first )}" do %>
          <%= label %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
