  <div class="row">
    <div class="col-xs-12 buttons">
      <%= link_to 'Request & pickup', path, class: "btn btn-md btn-info #{'disabled' if scannable_only?}", 'aria-describedby' => 'deliveryDescription' %>
    </div>
    <div id="deliveryDescription" class="col-xs-12 content">
      <% if scannable_only? %>
        <p>This item is for in-library use and not available for Request & pickup.</p>
      <% else %>
        <% if estimate_delivery? %>
          <dl>
            <dt>Earliest delivery</dt>
            <%= tag.dd data: { single_library_value: single_library_value } do %>
              <%= tag.span data: { scheduler_text: 'true' }, aria: { live: 'polite' }%>
            <% end %>
          </dl>
        <% else %>
          <p>No delivery estimate.</p>
        <% end %>
      <% end %>
    </div>
  </div>