  <div class="row scan-to-pdf">
    <div class="col-xs-12 buttons">
      <%= link_to 'Scan to PDF', path, class: 'btn btn-md btn-info', 'aria-describedby' => 'scanDescription' %>
    </div>
    <div id="scanDescription" class="col-xs-12 content">
      <p>Limited to one article or chapter; maximum 50 pages.</p>
      <p>Available to faculty, staff, students, post-docs, fellows, and Stanford Visiting Scholars.</p>
      <% if estimate_delivery? %>
        <dl>
          <dt>Earliest delivery</dt>
          <%= tag.dd data: { single_library_value: single_library_value } do %>
            <%= tag.span data: { scheduler_text: 'true' }, aria: { live: 'polite' }%>
          <% end %>
        </dl>
      <% else %>
        <p>No delivery estimate.</p>
      <% end %>
    </div>
  </div>