<form data-controller="appointment">
  <div class="modal-body">
    <label for="reading_room_id" class="d-block fw-semibold redesign-required-label mb-2">For which reading room?</label>
    <%= select_tag 'reading_room_id', options_from_collection_for_select(@reading_rooms, "id", "name"), include_blank: true, class: 'bg-white border rounded px-2 py-1' %>
  </div>
  <div class="modal-footer">
    <%= link_to 'Cancel', aeon_appointments_path, class: 'btn btn-outline-primary', data: { 'bs-dismiss': 'modal' } %>
    <%= submit_tag 'Continue', class: 'ms-2 btn btn-primary', data: { action: 'click->appointment#updateReadingRoom' } %>
  </div>
</form>