<turbo-frame id="modal-contents">
  <div class="modal-header">
    <h1>Edit appointment</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= render 'form' %>
  </div>
</turbo-frame>
