<turbo-frame id="modal-contents">
  <div class="modal-header">
    <h1 class="mb-0">Create new appointment</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <%= render 'form' %>
</turbo-frame>
