<h1>New appointment</h1>

<%= render 'form' %>
<%= link_to 'Cancel', aeon_appointments_path, class: 'btn btn-outline-primary' %>
<button type="submit" class="btn btn-primary" form="appointment-form">Create appointment</button>
