<div class='<%= dialog_column_class %>'>
  <h1>You have been added to the waitlist</h1>

  <p>You are #<%= @hold.queue_position %> on the list.</p>
  <p>We'll send an email to <strong><%= current_user.patron.email %></strong> when it's your turn.</p>
  <p><strong>Check your email frequently.</strong> We can't predict when the item will be available, and it may be outside normal library hours.</p>
  <p>You will have 30 minutes to check the item out before it passes to the next person on the list.</p>

  <button class="btn btn-link" onclick="window.close()">Close</button>
</div>
