<div class='<%= dialog_column_class %>'>
  <% if @exception.privileges_error? %>
    <h1>Unable to check out or join waitlist</h1>

    <p>
      Digital lending is restricted to current Stanford faculty, students, and staff with an active library borrowing account.
    </p>

    <p>Your library status may be blocked or expired. <strong>Check <%= link_to 'My Account', 'https://mylibrary.stanford.edu/' %> for details.</strong></p>

    <p>If you believe this is an error, contact <%= mail_to 'greencirc@stanford.edu' %> for more assistance.</p>
  <% else %>
    <h1>We were unable to process your checkout because of a system error.</h1>

    <p>Please try again in a few minutes, or contact <%= mail_to 'greencirc@stanford.edu' %> for more assistance.</p>
  <% end %>

  <button class="btn btn-link" onclick="window.close()">Close</button>
</div>
