<div class='<%= dialog_column_class %>'>
  <h1>We were unable to process your checkout because of a system error.</h1>

  <p>Please try again in a few minutes, or contact <%= mail_to 'greencirc@stanford.edu' %> for more assistance.</p>

  <button class="btn btn-link" onclick="window.close()">Close</button>
</div>
