<thead class='mediation-header'>
  <tr>
    <th>Mediate</th>
    <th>
      <a class='sort' data-sort='needed_date' href='javascript:;'>
        Needed on <i></i>
      </a>
    </th>
    <th>
      <a class='sort' data-sort='title' href='javascript:;'>
        Title <i></i>
      </a>
    </th>
    <th>
      <a class='sort' data-sort='requester' href='javascript:;'>
        Requester <i></i>
      </a>
    </th>
    <th>
      <a class='sort asc' data-sort='created_at' href='javascript:;'>
        Requested on <i></i>
      </a>
    </th>
    <th>
      <a class='sort' data-sort='comment' href='javascript:;'>
        Comment <i></i>
      </a>
    </th>
  </tr>
</thead>
