<thead class='mediation-header'>
  <tr>
    <th class="col-1">Mediate</th>
    <th class="col-1">
      <a class='sort' data-sort='needed_date' href='javascript:;'>
        Needed on <i></i>
      </a>
    </th>
    <th class="col-3">
      <a class='sort' data-sort='title' href='javascript:;'>
        Title <i></i>
      </a>
    </th>
    <th class="col-2">
      <a class='sort' data-sort='requester' href='javascript:;'>
        Requester <i></i>
      </a>
    </th>
    <th class="col-1">
      <a class='sort' data-sort='created_at' href='javascript:;'>
        Requested on <i></i>
      </a>
    </th>
    <th class="col-3">
      <a class='sort' data-sort='comment' href='javascript:;'>
        Comment <i></i>
      </a>
    </th>
    <th class="col-1">Status</th>
  </tr>
</thead>
