<h1>Requests dashboard</h1>

<table class='table dashboard-table'>
  <tr>
    <% @dashboard.metrics.each do |metric| %>
      <td class='col-sm-<%= 12 / @dashboard.metrics.length %>'>
        <h3><%= @dashboard.send(metric) %></h3>
      </td>
    <% end %>
  </tr>
  <tfoot>
    <tr>
      <% @dashboard.metrics.each do |metric| %>
        <td><span class='text-muted'><%= t(".#{metric}") %></span></td>
      <% end %>
    </tr>
  </tfoot>
</table>

<div class='admin-requests'>
  <h2>Last 100 Requests</h2>
  <% @dashboard.recent_requests.each do |origin, collection| %>
    <%= render partial: 'library_table', locals: { origin: origin, collection: collection } %>
  <% end %>
</div>
