<h1>Request mediation</h1>
<div class='admin-requests'>
  <%= render partial: 'library_table', locals: { origin: params[:id], collection: @mediated_pages } %>
  <%= paginate @mediated_pages, theme: 'sul' %>
</div>
