
<h1>Request Types</h1>
<p>Request types:</p>

<% @request_types.each do |f| %>
<li><%= link_to f.req_type, {:action => 'show', :id => f.id} %> 
<%= link_to 'Edit', :action => 'edit', :id => f.id %> 
<%= link_to 'Delete', :action => 'delete', :id => f.id %> 
</li>
<% end %>
