@charset "UTF-8";
/* CSS Document */

body {font-family: Verdana,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif; font-size: 80%; text-align: center; background-color: #F5F3F2; margin: 0px; padding: 0px;}
form {margin: 0; padding: 0;}
#header {background-color: #900; color: #FFF; text-align: right; height: 34px; font-size: .75em; background-image:url(globals_sulair_logo.gif); background-repeat: no-repeat;}
#header a {color: #fff;}
#header a#SULAIR {position: absolute; top: 0px; left: 0px; display: block; width: 150px; height: 34px; text-decoration: none;}
#header .links {position: absolute; top: 0px; right: 0px; padding: 8px; z-index: 99;}
#outer {background-color: #999; width: 46em; margin: 0px auto; text-align: left; padding: 0 .5em .5em 0;}
#container {position: relative; background-color: #FFF; width: 50em; margin: 0px auto; text-align: left; font-size: .9em; padding: 20px; border: 1px solid #DBD7D2;}
form, label, dl {padding: 0; margin: 0;}
input {margin: 0;}
a {color: #2E4F81;}
h1 {font-size: 1.25em; padding: 0px; margin: 0px; }
h2 {font-size: 1.1em; padding: 0px; margin: 15px 0px; }
fieldset {display: block; border: 1px dotted  #918873; margin: 0px auto 20px auto; padding: 10px;}
legend {font-size: 1em; padding: 1px 5px; text-transform: uppercase; background-color: #918873; color: #fff;}

p {clear: both;}

ul, li {list-style-type: none; margin: 0px; padding: 0px;}

dt {clear: left; float: left; width: 10em; padding: 1px 0px; text-align: right; color: #666;}
dd {margin-left: 11em;  padding: 1px 0px; }

fieldset dt {padding: 5px 0px;}
fieldset dd {padding: 5px 0px;}


input, select, textarea {width: 23em; margin: 0;}
input[type=radio], input[type=checkbox] {width: 1em;}

div.opening, div.request_successful, div.request_failed {padding: 10px 0;}
div.request_failed {color: red; font-weight: bold;}
div.request_failed a {font-weight: normal;}
div.request_successful {color: green; font-weight: bold;}
p {margin: 0; padding: 0;}
#autofill {color: #900; text-align: right; padding: 0; margin: -5px 0 5px; font-size: .9em;}
#autofill a {color: #900; font-weight: bold; text-decoration: underline;}
fieldset.required fieldset legend, fieldset.required label {font-weight: bold;} /* call out required fields */
div.submit {clear: both; text-align: center;}
div.submit input {width: 10em; display: inline; margin: 0px 20px 0px 0px; font-size: 1em;}
#footer {clear: both; padding: 25px; font-size: .75em; color: #900;}
legend span {display:block; width: 200px; padding: 0px; text-align: right; white-space: nowrap; overflow: visible;}

.available {color:green;}
.checked_out {color:#555555;}

ol.item_list {
  padding-left:0 !important;
}

span.title {display: block; margin: 0 0 15px 10px; padding: 0px; font-size: 1.15em; font-weight: normal;}

span.library {font-weight: bold; padding: 0 10px;}

span.instruction {font-size: .9em;}

span.action_varies {font-weight: normal; padding: 0 10px;}

.show_availability span.item_available {
  color:green;
}

div.access_data {
  max-height: 16em;
  overflow: auto;
  padding: 2px;
  margin: 1px 10px 15px;
  border: 1px dotted #ccc;
}

.access_data ol {
  margin:5px;
  padding: 0;
}
.access_data ol li {
  list-style-type:none;
  padding:0 0 3px 0;
  border-bottom:none;
  font-weight:normal;
}
.off_screen {
  position:absolute;
  left:-1000px;
}

div.patron_info {margin: 15px 0;}

ul.show_status li {margin: 0 0 10px 10px;}
ul.show_status ol li {margin: 0;}

