@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {font-family:"Lucida Grande","Lucida Sans Unicode","Arial Unicode MS",Helvetica,sans-serif;
font-size:11px;
line-height:1.5em; text-align: center; background-color: #424242; margin: 0px; padding: 0px;}
#header {background-color: #900; color: #FFF; text-align: right; height: 34px; font-size: .75em; background-image:url(http://library.stanford.edu/images/main_l2/globals_sulair_logo.gif); background-repeat: no-repeat; border-bottom: 1px solid #d11d02;}
#header a {color: #A2DDE1; text-decoration: none;}
#header a#SULAIR {position: absolute; top: 0px; left: 0px; display: block; width: 150px; height: 34px; text-decoration: none;}
#header .links {position: absolute; top: 0px; right: 0px; padding: 11px; z-index: 99;}
#container {position: relative; background-color: #f6f6f6; max-width: 800px; margin: -10px auto 15px auto; text-align: left; padding: 20px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc}
a {color: #2E4F81;}
h1 {font-size: 1.5em; padding: 0px; margin: 0px; font-weight: normal;}
h2 { font-size: 1.1em; font-weight: bold; padding: 0px; margin: 1em 0; }
fieldset {display: block; background-color: #fff; border: 1px solid  #ccc; margin: 10px auto; padding: 10px 20px 20px;}
legend {font-size: .9em; padding: 5px; background-color: #424242; color: #f6f6f6; background-image:url("bg-legend.png");}

ul, li {list-style-type: none; margin: 0 0 10px; padding: 0px;}

.opening ul, .opening li {list-style-type: circle; margin: 10px; padding: 0px;}


dt {clear: both; float: left; width: 12.5em; text-align: right; color: #555; padding: 7px 0px 1px; line-height: 1em;}
dd {margin-left: 13em; padding:  7px 0px 1px; position: relative; line-height: 1em;}

fieldset dd {padding:  3px 0;}

fieldset dl dd dl {display: inline-block;}

fieldset dl dd dl dt {clear: both; float: left; width: 6.5em; padding: 5px 0; text-align: right; color: #555; font-style: italic;}
fieldset dl dd dl dd {margin-left: 7em; padding: 1px 0px;}

dd#loginlink {height: 2em;}
dd#loginlink a {font-size: 1.2em; color: #090; text-shadow: 1px 1px 1px #ccc; display:inline-block; margin-top:2px;}

img#helpimg {cursor: help;}
div#libID_help {display:none; position:absolute; right:-245px; top:-100px;}

input {font-family: "Lucida Grande","Lucida Sans Unicode",Verdana, Arial,sans-serif; width: 20em; margin: 0; font-size: 1em;}
select {font-family: "Lucida Grande","Lucida Sans Unicode",Verdana, Arial,sans-serif; width: 20em; margin: 0; font-size: 1em; padding: 2px 0;}
textarea  {font-family: "Lucida Grande","Lucida Sans Unicode",Verdana, Arial,sans-serif; width: 20em; margin: 0; font-size: 1em; height: 10em;}

input[type=checkbox] {width: 2em; margin: 1px 0;}
input[type=radio] {width: 2em; margin: 2px 0;}
input#request_not_needed_after, input#request_planned_use {width: 8em !important;}
textarea#request_comments {width: 30em;}
select#request_pickup_lib {width: auto;}

div.opening, div.request_successful, div.request_failed {padding: 10px 0 0 0;}
div.request_failed {color: #cc0000; font-weight: bold;}
div.request_failed a {font-weight: normal;}
div.request_successful {color: #009900; font-weight: bold;}
p {clear: both; margin: 0 0 1em 0}
#autofill {color: #900; text-align: center; padding: 0; margin: 0 0 10px;}
#autofill a {color: #900; font-weight: bold; font-size:1.5em; text-decoration: underline;}
div.submit {clear: both; text-align: center;}
div.submit input {width: 10em; display: inline; margin: 0px 20px 0px 0px; font-size: 1em;}
#footer {clear: both; padding: 25px; font-size: .75em; color: #999;}
#footer a {color: #999;}

ol.item_list {padding-left:0 !important;}

span.title {display: block; clear: both; margin: 0; padding: 15px 0; font-size: 1.3em; font-weight: normal; color: #555;}

fieldset span.title {margin-bottom: 15px; padding: 0;}

span.instruction {font-size: .9em;}
span.action_varies {font-weight: normal; padding: 0;}

span.library {font-weight: bold; padding: 0 20px 5px 0; text-align: right; color: #555;}

div.access_data {padding: 2px; margin: 2px 0; border:1px dotted #CCCCCC;}

div.access_data_scroll {padding: 2px; overflow:auto; position: relative; max-height: 16em; margin: 2px 0; border:1px dotted #CCCCCC;}

div.access_data_scroll ol {margin-bottom: 25px;}


.access_data ol {margin:5px; padding: 0;}
.access_data ol li {list-style-type:none; padding:0 0 3px 0; border-bottom:none; font-weight:normal;}
.off_screen {position:absolute; left:-1000px;}

div.patron_info {margin: 15px 0;}

ul.show_status li {margin: 0 0 10px 10px;}
ul.show_status ol li {margin: 0;}

#notification {margin: 15px 0px 5px; border: 1px solid #990000; padding: 5px; background-color: #ffffe0; }
#notification ul {margin: 0 25px;}
#notification ul li {list-style-type: none; list-style-image: url("alert.png");}

h2.success {color: #009900; background-image: url("check.png"); background-position:left center;
	background-repeat:no-repeat; padding-left:20px;}

h2.fail {color: #cc0000; background-image: url("x.png"); background-position:left center;
	background-repeat:no-repeat; padding-left:20px;}

.disabled {color: #666;}
dd.unavail_items {padding-top: 7px;}
dd.unavail_items ul {padding: 5px 0;}

div.access_data li, div.access_data_scroll li {position: relative;}
span.hold-recall-msg {position: absolute; left: -9999px;}

span.hold-recall {background-image: url("help.png"); background-position:right center;
	background-repeat:no-repeat; padding-right:20px;}

div.access_data li:hover span.item_available span.hold-recall span.hold-recall-msg {position: absolute; top: 1em; left: 20em; 
	width: 20em; z-index: 9999; background-color: #ffffe0; border: 1px solid #ccc; padding: 3px; overflow: visible;}

div.access_data_scroll li:hover span.item_available span.hold-recall span.hold-recall-msg {position: absolute; top: 1em; left: 20em; 
	width: 20em; z-index: 9999; background-color: #ffffe0; border: 1px solid #ccc; padding: 3px; overflow: visible;}


@media mobile {
	dt {clear: both; float: none; width: auto; padding: 1px 0; text-align: left; color: #555;}
	dd {margin-left: 0; padding: 1px 0px; }
	#header {display: none;}
	#container {width: 100%;}
	#autofill {text-align: left;}
	ol.item_list li {font-size: .9em;}
}