@charset "UTF-8";
/* CSS Document */

body {font-family: Verdana,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif; font-size: 80%; text-align: center; background-color: #424242; margin: 0px; padding: 0px;}
form {margin: 0; padding: 0;}
#header {background-color: #900; color: #FFF; text-align: right; height: 34px; font-size: .75em; background-image:url(http://library.stanford.edu/images/main_l2/globals_sulair_logo.gif); background-repeat: no-repeat; border-bottom: 1px solid #660000;}
#header a {color: #fff;}
#header a#SULAIR {position: absolute; top: 0px; left: 0px; display: block; width: 150px; height: 34px; text-decoration: none;}
#header .links {position: absolute; top: 0px; right: 0px; padding: 8px; z-index: 99;}
#container {position: relative; background-color: #F5F3F2; width: 50em; margin: 0px auto; text-align: left; font-size: .9em; padding: 20px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc}
form, label, dl {padding: 0; margin: 0;}
input {margin: 0;}
a {color: #2E4F81;}
h1 {font-size: 1.3em; padding: 0px; margin: 0px; color: #555; font-weight: normal;}
h2 { font-size: 1em; font-weight: bold; color: #555; padding: 0px; margin: 1em 0; }
fieldset {display: block; background-color: #fff; border: 1px solid  #ccc; margin: 0px auto 20px auto; padding: 10px 20px 20px;}
legend {font-size: 1em; padding: 1px 5px; text-transform: uppercase; background-color: #FFFFFF; color: #555555; border-left: 1px solid #ccc; border-top: 1px solid #ccc; border-right: 1px solid #ccc;}

ul, li {list-style-type: none; margin: 0px; padding: 0px;}

.opening ul, .opening li {list-style-type: circle; margin: 10px; padding: 0px;}


dt {clear: both; float: left; width: 12.5em; padding: 1px 0; text-align: right; color: #555;}
dd {margin-left: 13em; padding: 1px 0px; }

fieldset dt {padding: 5px 0px 1px;}
fieldset dd {padding: 2px 0px;}

input, select, textarea {width: 20em; margin: 0; font-size: 1em;}
input[type=radio], input[type=checkbox] {width: 2em;}
input#request_not_needed_after {width: 8em !important;}

div.opening, div.request_successful, div.request_failed {padding: 10px 0 0 0;}
div.request_failed {color: #cc0000; font-weight: bold;}
div.request_failed a {font-weight: normal;}
div.request_successful {color: #009900; font-weight: bold;}
p {clear: both; margin: 0 0 1em 0}
#autofill {color: #900; text-align: right; padding: 0; margin: -10px -10px 15px; /*font-size: .9em;*/}
#autofill a {color: #900; font-weight: bold; text-decoration: underline;}
div.submit {clear: both; text-align: center;}
div.submit input {width: 10em; display: inline; margin: 0px 20px 0px 0px; font-size: 1em;}
#footer {clear: both; padding: 25px; font-size: .75em; color: #999;}
#footer a {color: #999;}

ol.item_list {padding-left:0 !important;}

span.title {display: block; margin-bottom: 15px; padding: 0px; font-size: 1.1em; font-weight: normal; font-style: italic;}

span.instruction {font-size: .9em;}
span.action_varies {font-weight: normal; padding: 0;}

dt {clear: both; float: left; width: 12.5em; padding: 1px 0; text-align: right; color: #555;}
dd {margin-left: 13em; padding: 1px 0px; }

span.library {font-weight: bold; padding: 0 20px 5px 0; text-align: right; color: #555;}

div.access_data {padding: 2px; max-height: 16em; overflow: auto; margin: 2px 0; border:1px solid #CCCCCC;}

.access_data ol {margin:5px; padding: 0;}
.access_data ol li {list-style-type:none; padding:0 0 3px 0; border-bottom:none; font-weight:normal;}
.off_screen {position:absolute; left:-1000px;}

div.patron_info {margin: 15px 0;}

ul.show_status li {margin: 0 0 10px 10px;}
ul.show_status ol li {margin: 0;}

#notification {margin: 15px 0px 5px; border: 1px solid #990000; padding: 5px; background-color: #ffffe0; }
#notification ul {margin: 0 25px;}
#notification ul li {list-style-type: none; list-style-image: url(http://www.stanford.edu/~jvine/alert.png);}

h2.success {color: #009900;}
h2.fail {color: #cc0000;}

.disabled {color: #666;}
dd.unavail_items {padding-top: 5px;}
dd.unavail_items ul {padding: 5px 0;}

@media mobile {
	dt {clear: both; float: none; width: auto; padding: 1px 0; text-align: left; color: #555;}
	dd {margin-left: 0; padding: 1px 0px; }
	#header {display: none;}
	#container {width: 100%;}
	#autofill {text-align: left;}
	ol.item_list li {font-size: .9em;}
}
