<div class="dropdown">
  <button class="btn btn-outline-primary" type="button" disabled="true" aria-expanded="false" data-draft-request-target="deleteButton">
    Delete selected (0)
  </button>
</div>
