<div class="dropdown">
  <button class="btn btn-delete" type="button" disabled aria-expanded="false"
    data-draft-request-target="deleteButton" data-action="draft-request#openDeleteModal" id="delete-all">
    Delete selected (0)
  </button>
  <div class="mt-2 d-flex justify-content-end">
    <span>
      <input type="checkbox" name="select-all-delete" id="select-all-delete" class="me-1 form-check-input" data-draft-request-target="selectall" data-action="change->draft-request#toggleSelectAll">
      <%= label_tag 'select-all-delete', 'Select all', class: 'form-check-label small' %>
    </span>
  </div>
</div>
