<div class="dropdown">
  <button class="btn btn-outline-primary" type="button" disabled="true" aria-expanded="false" 
    data-draft-request-target="deleteButton" data-bs-toggle="modal" data-bs-target="#delete-bulk">
    Delete selected (0)
  </button>
</div>
