<div class="dropdown">
  <button class="btn btn-delete" type="button" disabled="true" aria-expanded="false" 
    data-draft-request-target="deleteButton" data-bs-toggle="modal" data-bs-target="#delete-bulk" id="delete-all">
    Delete selected (0)
  </button>
  <div class='mt-2 d-flex justify-content-end'>
  <input type="checkbox" name="select-all-delete" class="me-2" data-draft-request-target="selectall" data-action="change->draft-request#toggleSelect"> Select all
  </div>
</div>
