<div class="container">
  <div class="row">
    <div class="col-8 pe-5">
      <div class="d-flex flex-wrap gap-2 justify-content-between mb-3">
        <h1>Draft requests</h1>
        <div class="d-flex flex-wrap gap-2">
          <%= render 'sort_dropdown' %>
          <%= render 'filter_dropdown' %>
        </div>
      </div>

      <%= render Aeon::RequestComponent.with_collection(@aeon_requests) %>
    </div>
    <div class="col-4">
      <turbo-frame src="<%= aeon_appointments_path(variant: 'sidebar') %>" id="aeon-appointments" class="d-block" data-turbo="false">
        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </turbo-frame>
    </div>
  </div>
</div>
