<turbo-frame id="aeon-requests">
  <h2 class="h3 text-center mb-3">
    <i class="bi bi-pin-angle-fill me-1"></i>Saved for later
    <div class="fw-semibold text-center fs-6 mt-1">Items requested for reading room use</div>
  </h2>
  <p class="text-center text-digital-red"><i class="bi bi-exclamation-triangle-fill me-1"></i> Materials are unavailable until an appointment is scheduled.</p>

  <% @aeon_request_groups.each do |requests_in_group| %>
    <%= render Aeon::RequestGroupBriefComponent.new(request_group: requests_in_group) %>
  <% end %>
</turbo-frame>
