<%= turbo_stream.remove(@aeon_request) %>

<%= turbo_stream.replace('draft_aeon_requests_sidebar') do %>
  <div id="draft_aeon_requests_sidebar">
    <%= render 'aeon_appointments/draft_aeon_requests' %>
  </div>
<% end %>
