<div class="d-flex flex-wrap gap-2 justify-content-between mb-3">
  <h1>Submitted requests</h1>
  <div class="d-flex flex-wrap gap-2">
    <%= render 'sort_dropdown' %>
    <%= render 'filter_dropdown' %>
  </div>
</div>

<% @aeon_request_groups.each do |requests_in_group| %>
  <% if requests_in_group.one? && !requests_in_group.first.multi_item_selector? %>
    <%= render Aeon::RequestComponent.new(request: requests_in_group.first) %>
  <% else %>
    <%= render Aeon::RequestGroupComponent.new(request_group: requests_in_group) %>
  <% end %>
<% end %>
