<div class="d-flex flex-wrap gap-2 justify-content-between">
  <h1>Submitted requests</h1>
  <%= render 'sort_dropdown' %>
</div>

<%= render Aeon::RequestComponent.with_collection(@aeon_requests) %>
