<table width="100%" cellpadding="0" cellspacing="6" bgcolor="#990000"><tr><td align="left"><img src="http://library.stanford.edu/staff/afs/images/sulair.gif" border="0" width="110" height="19" alt="Sulair" /></td><td align="right"> </td>
<td align="right">
	<font color="white">
				<%= link_to 'Add New Message',  new_admin_message_path, :style => "color:white"%>
				| 
				<%= link_to 'View Messages', admin_messages_path, :style => "color:white" %>
	</font></td></tr></table>
