<div data-controller="sortable">
  <%= render SortableDropdownComponent.new do |component| %>
    <% component.with_list_item(label: 'title', field: 'title') %>
    <% component.with_list_item(label: 'price', field: 'price') %>
  <% end %>

  <ul data-sortable-target="list" aria-live="polite">
    <li data-title-sort-value="Banana" data-price-sort-value="50">Banana $.50</li>
    <li data-title-sort-value="Apple" data-price-sort-value="80">Apple $.80</li>
    <li data-title-sort-value="Cherry" data-price-sort-value="99">Cherry $.99</li>
  </ul>
</div>
