<div data-go-back-link='true' class='go-back-link' style='display:none;'>
  <%= link_to 'javascript:;', class: "#{label_column_offset_class}", data: { no_sunet: true, target: '[data-no-sunet-content]', content_target: '[data-no-sunet-target]', link: '[data-go-back-link]' } do %>
    <span aria-hidden="true">&lsaquo; </span>Go back (show the login option)
  <% end %>
</div>
