Items marked 
<a href="/checkedout" class="lightboxLink" id="feedbackLink" name="checkedout">Checked Out</a>,
<a href="/inprocess" class="lightboxLink" id="feedbackLink" name="inprocess">In Process</a>, 
<a href="/missing" class="lightboxLink" id="feedbackLink" name="missing">Missing</a>,
<a href="/newbooks" class="lightboxLink" id="feedbackLink" name="newbooks">New Book Shelf</a>,
<a href="/notonshelf" class="lightboxLink" id="feedbackLink" name="notonshelf">Not On Shelf</a>,
<a href="/onorder" class="lightboxLink" id="feedbackLink" name="onorder">On Order</a>
will not be available immediately or may not be available at all. 
Choose one of the terms listed here for more details.

