<div class="lightboxContent" id="" style="display:none;width:450px;left:35%;top:15%;">
  <div class="lightboxTitle">
    <div class="lightboxBack">
      <a href="#" class="lightboxLink" name="checkedout">Close [X]</a>
    </div>
    Checked Out Items  
  </div>
  <%= local_assigns[:checkedout] %>
 
  </div>
</div>
<div id="lightboxContainer" style="display:none;"></div>
