<% if current_request.item_commentable? %>
  <%= f.label :item_comment, label_for_comments_field %>
  <%= f.text_area_without_bootstrap :item_comment, class: 'form-control' %>
  <% if current_request.library_location.mhld.any? { |mhld| mhld.library_has.present? } %>
    <p class='help-block'>
      Library has: <%= current_request.library_location.mhld.map(&:library_has).join(' ').html_safe %>
    </p>
  <% end %>
<% end %>
