<% if current_user.webauth_user? %>
  <h3 class='not-you pull-left'>
    <span class='sr-only'>You are logged in as </span>
    <%= current_user.name if current_user.name.present? %>
    (<%= current_user.webauth %>@stanford.edu)
  </h3>
  <%= link_to('Not you?', logout_path, class: 'pull-right') %>
<% end %>
