<form id="digitized-accordion" class="col-lg-9">
  <div class="accordion digitization-accordion selected-items-container px-0">
    <%=
      render Aeon::DigitizationFormItemComponent.new(
        title: 'Item 1',
        dom_id: 'item_1'
      ) %>

    <%=
      render Aeon::DigitizationFormItemComponent.new(
        title: 'Item 2',
        dom_id: 'item_2'
      ) %>
  </div>
</form>

<hr>

<form id="digitized-accordion2" class="col-lg-9">
  <div class="accordion digitization-accordion selected-items-container px-0">
    <%=
      render Aeon::DigitizationFormItemComponent.new(
        accordion: false,
        title: 'Item 3',
        dom_id: 'item_3'
      ) %>
  </div>
</form>
