<div id="copyright-restrictions" class="card card-danger">
  <div class="card-header" id="copyright-restrictions-heading">
    <h3 class="card-title">
      Copyright notice
    </h3>
  </div>
  <div class="card-body">
    <p>The copyright law of the United States (title 17, United States Code) governs
the making of photocopies or other reproductions of copyrighted material. Under
certain conditions specified in the law, libraries and archives are authorized to
furnish a photocopy or other reproduction. One of these specific conditions is that
the photocopy or reproduction is not to be “used for any purpose other than private
study, scholarship, or research.” If a user makes a request for, or later uses, a
photocopy or reproduction for purposes in excess of “fair use,” that user may be
liable for copyright infringement. Stanford Libraries reserves the right to refuse
to accept a copying order if, in its judgment, fulfillment of the order would involve
violation of copyright law.</p>
  </div>
</div>
