<div id="copyright-restrictions" class="panel panel-danger">
  <div class="panel-heading" id="copyright-restrictions-heading">
    <h3 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#copyright-restrictions" href="#copyright-restrictions-notice" aria-expanded="false" aria-controls="copyright-restrictions-notice">
        Notice concerning copyright restrictions
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
      </a>
    </h3>
  </div>
  
  <div id="copyright-restrictions-notice" class="panel-collapse collapse" aria-labelledby="copyright-restrictions-heading">
    <div class="panel-body">
      <p>The copyright law of the United States (Title 17, United States Code) governs
   the making of reproductions of copyrighted material. Under certain conditions
   specified in the law, libraries and archives are authorized to furnish
   a reproduction. One of these specified conditions is that the reproduction
   is not to be "used for any purpose other than private study, scholarship,
   or research." If a user makes a request for, or later uses, a reproduction
   for purposes in excess of "fair use," that user may be liable for copyright
   infringement. This institution reserves the right to refuse to accept a scan
   order if, in its judgment, fulfillment of the order would involve violation
   of copyright law.</p>
    </div>
  </div>
</div>