<div id="copyright-restrictions" class="card panel-danger">
  <div class="card-header" id="copyright-restrictions-heading">
    <h3 class="card-title">
      Notice concerning copyright restrictions
    </h3>
  </div>
  <div class="card-body">
    <p>The copyright law of the United States (Title 17, United States Code) governs
 the making of reproductions of copyrighted material. Under certain conditions
 specified in the law, libraries and archives are authorized to furnish
 a reproduction. One of these specified conditions is that the reproduction
 is not to be "used for any purpose other than private study, scholarship,
 or research." If a user makes a request for, or later uses, a reproduction
 for purposes in excess of "fair use," that user may be liable for copyright
 infringement. This institution reserves the right to refuse to accept a scan
 order if, in its judgment, fulfillment of the order would involve violation
 of copyright law.</p>
  </div>
</div>
