<h3 class="mt-3">Don’t have a SUNet ID?</h3>
<p>If you don’t have a SUNet ID, we can’t scan this item for you, but we can deliver the physical volume to a campus library for you to pick up.</p>
<%= link_to('Request the physical item', delegated_new_request_path(current_request), class: 'btn btn-md btn-secondary btn-full') %>
