<section class="home-page-section">
  <h2>Administration</h2>
  <ul>
    <li><%= link_to 'Requests dashboard', admin_index_path %></li>
    <li><%= link_to "Broadcast messages", "#"%> </li>
    <li><%= link_to "Location code translations", "#"%> </li>
    <li><%= link_to "Paging schedule", "#"%> </li>
  </ul>
</section>
