<section class="home-page-section">
  <h2>Mediation</h2>
  <ul>
    <% locations.each do |location| %>
      <li>
        <%= link_to(LibraryLocation.library_name_by_code(location), admin_path(location)) %>
      </li>
    <% end %>
  </ul>
</section>
