<section class="home-page-section">
  <h2>Mediation</h2>
  <ul>
    <% locations.each do |code, config| %>
      <li>
        <%= link_to(LibraryLocation.library_name_by_code(config&.library_override || code), admin_path(code)) %>
      </li>
    <% end %>
  </ul>
</section>
