<h1 class="visually-hidden">My Library Account Home</h1>
<div class="row">
  <div class="col-lg-9">
    <%= render 'card_view', dashboard: @dashboard %>
  </div>
  <%= render 'questions_aside' %>
</div>

<%= turbo_frame_tag 'folio-dashboard', src: folio_dashboard_path(include_illiad: !@dashboard.aeon?) if @dashboard.folio? %>
<%= turbo_frame_tag 'aeon-dashboard', src: aeon_dashboard_path if @dashboard.aeon? %>
