<% if sso_user? %>
  <div class="d-grid gap-3 w-50 ms-auto me-auto" style="grid-template-columns: 1fr 1fr;">
    <div class="card bg-light d-flex flex-row">
      <div class="bg-secondary-subtle w-25"></div>
      <div class="card-body p-2">
        <h2 class="card-title fs-5 mb-1">Borrowed items</h2>
        <p>Journal articles, eBooks, and more from the Library's digital subscriptions</p>
      </div>
    </div>
    <div class="card bg-light d-flex flex-row">
      <div class="bg-secondary-subtle w-25"></div>
      <div class="card-body p-2">
        <h2 class="card-title fs-5 mb-1"><%= link_to 'Requests', aeon_requests_path, class: 'fw-semibold' %></h2>
        <p>Journal articles, eBooks, and more from the Library's digital subscriptions</p>
      </div>
    </div>
    <div class="card bg-light d-flex flex-row">
      <div class="bg-secondary-subtle w-25"></div>
      <div class="card-body p-2">
        <h2 class="card-title fs-5 mb-1"><%= link_to 'Appointments', aeon_appointments_path, class: 'fw-semibold' %></h2>
        <p>Journal articles, eBooks, and more from the Library's digital subscriptions</p>
      </div>
    </div>
    <div class="card bg-light d-flex flex-row">
      <div class="bg-secondary-subtle w-25"></div>
      <div class="card-body p-2">
        <h2 class="card-title fs-5 mb-1">Fines</h2>
        <p>Journal articles, eBooks, and more from the Library's digital subscriptions</p>
      </div>
    </div>
  </div>
<% end %>

<% if can? :manage, :site %>
  <%= render 'administration' %>
<% end %>

<% origins = mediated_locations_for(PatronRequest.mediateable_origins) %>

<% if origins.present? %>
  <%= render partial: 'mediation', locals: { locations: origins } %>
<% end %>
