<div data-scheduler-lookup-url='<%= paging_schedule_path(origin: current_request.origin) %>'>
  <%= select_for_pickup_libraries(f).html_safe %>

  <%= render partial: 'scheduler_text', locals: { f: f } %>
</div>
