<div id="scan-or-deliver" data-scheduler-lookup-url='<%= paging_schedule_path(origin: current_request.origin) %>'>
  <%= render RequestAndPickupButtonComponent.new(current_request:) %>

  <%= render ScanToPdfButtonComponent.new(current_request:) %>
</div>
