<% if current_request.requires_needed_date? %>
  <div class="form-group row">
    <%= f.label :needed_date, class: "#{label_column_class} required col-form-label" %>
    <div class='<%= content_column_class %>'>
      <%= f.date_field_without_bootstrap :needed_date, class: 'form-control', required: true, min: Time.zone.today, data: { request_type: current_request.type.underscore } %>
      <div id='needed-date-warning' class='has-error needed-date-help-block'></div>
      <%= render LibraryInstructionsComponent.new(library_code: current_request.origin_library_code) %>
    </div>
  </div>
<% end %>
