<% unless f.object.requestable_with_sunet_only? %>
  <hr />
  <p class='or-divider'>
    <% if current_user.webauth_user? %>
      Not you?
    <% else %>
      or
    <% end %>
  </p>
  <%= link_to current_user.webauth_user? ? 'Use a different library ID' : "I don't have a SUNet ID", '#no-sunetid-form', id: 'no-sunet-button', class: 'btn btn-md btn-default btn-full', data: { toggle: 'show', show: '#no-sunetid-form', hide: '#sunetid-form', focus: 'input[type=text]:visible:first' } %>
<% end %>
