<% if f.object.requestable_with_library_id? || f.object.requestable_with_name_email? %>
  <hr />
  <p class='or-divider'>
    <% if current_user.sso_user? %>
      Not you?
    <% else %>
      or
    <% end %>
  </p>
  <%= link_to current_user.sso_user? ? 'Request with a different ID' : "I don't have a SUNet ID", '#no-sunetid-form', class: 'btn btn-md btn-default btn-full', data: { toggle: 'show', show: '#no-sunetid-form', hide: '#sunetid-form', focus: 'input[type=text]:visible:first' } %>
<% end %>
