<div class='non-stanford-user-overlay'>
  <div class='modal-body'>
    <h3>It looks like you are not at Stanford...</h3>
    <p>You are welcome to visit the Stanford Libraries and view this material in person. It cannot be delivered to any other location, either physically or digitally.</p>
    <p>Do you want to schedule a visit?</p>
    <div class='overlay-options'>
      <button type='button' class='btn btn-success' data-behavior='close-overlay' data-close-target='.non-stanford-user-overlay'>
        Yes<br/>I will visit in person
      </button>
      <a href='<%= "#{Settings.searchworks_link}/#{current_request.item_id}" %>' class='btn btn-link' data-behavior='close-parent-modal'>
        Not right now
      </a>
    </div>
  </div>
</div>
