<div class='form-group' data-scheduler-lookup-url='<%= paging_schedule_path(origin: current_request.origin) %>'>
  <div class='control-label <%= label_column_class %>'>
    Earliest delivery
  </div>
  <div class='<%= content_column_class %> input-like-text'>
    <span id='scheduler-text' data-scheduler-text='true' aria-live='polite'></span>
  </div>
</div>
