<div class="login-send-group clearfix <%= 'with-library-id-error' if f.object.library_id_error? %>">
  <%= render partial: 'sunet_form', locals: { f: f } %>
  <%= render partial: 'no_sunet_form', locals: { f: f } %>
</div>
