<h1>Submitted requests</h1>

<% if @requests.present? %>
  <% @requests.each do |request| %>
    <%= render Aeon::RequestComponent.new(request:) %>
  <% end %>
<% else %>
You have no submitted requests
<% end %>
