<h1>Submitted requests</h1>

<% if current_user&.aeon&.requests %>
  <% current_user.aeon.requests.each do |request| %>
    <% if request.digitized_request %>
      <%= render Aeon::DigitizedRequestComponent.new(request:) %>
    <% else %>
      <%# Non digitized code %>
    <% end %>
  <% end %>
<% else %>
  You don't have an aeon account
<% end %>
