<div class='<%= dialog_column_class %>'>
  <%# = render 'header' %>
  <h1 id='dialogTitle'>Request services are suspended</h1>
  <%= render 'form_flashes' %>

  <%#= render 'searchworks_item_information' %>

  <%# if delegated_request? %>
    <%#= render 'remote_user_check' if render_remote_user_check? %>
    <%#= render 'form' %>
  <%# else %>
    <%#= render 'form_choice' %>
  <%# end %>
</div>
