<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><%= @requestdef[:title] %></title>
		<style type="text/css">
<!--
 .container{ width:700px; border:1px; position:relative;}
 .cell1{float:left; width: 20%; text-align: right; }
 .cell2{float:right; width:78%; text-align: left; }
-->
</style>
	</head>
	<body>
		 
	<%= render :partial => "shared/request_new_body" %> 
		
	</body>
</html>

