<div id="eligibility-confirm-overlay" class='confirmation-overlay'>
  <div class='modal-body'>
    <%= render 'header' %>
    <p>This item is available for scheduled pickup to eligible patrons.</p>
    <h3>Who can request?</h3>
    <p>Stanford facutly, students, staff, academic staff, fellows, and post docs are eligible.</p>

    <h3>How does it work?</h3>
    <ol>
      <li>Request the item.</li>
      <li>When it's ready for pickup, we'll send you an email with instructions to schedule an appointment.</li>
      <li>Follow the required health and safety protocols when you arrive for your appointment.</li>
    </ol>

    <p>
      <i class="sul-i-navigation-next-4"></i> <%= link_to('More information about the service', 'https://library.stanford.edu/returntoresearch', target: '_blank') %>
    </p>

    <div class='overlay-options'>
      <%= button_tag('Continue', class: 'btn btn-success', data: { behavior: 'close-overlay', 'close-target' => '#eligibility-confirm-overlay' }) %>
      <%= link_to('Cancel', "#{Settings.searchworks_link}/#{current_request.item_id}", class: 'btn btn-link', data: { behavior: 'close-parent-modal' }) %>
    </div>
  </div>
</div>
