<div>
  <p>We've received your request. We'll email you again when it's ready for pickup.</p>
  <p>At that time, you'll be able to schedule a pickup appointment in <%= link_to('My Library Account', 'https://mylibrary.stanford.edu') %>.</p>
  <p>If you haven't already, complete <%= link_to('COVID-19 Hygiene Best Practices, EHS-2470-WEB', 'https://starsexpress.stanford.edu/index.html?ref=LM_SS_LEARNING.LM_BROWSE_LEARNER.GBL&type=COURSE&code=EHS-2470') %> before your visit.</p>
</div>
