<% if render_search? %>
  <div>
    <label for="item-selector-search" class="my-2">Search item list</label>
    <input id="item-selector-search" type="search" incremental autocomplete="off" data-action="input->item-selector#filter analytics#send" data-analytics-category-param="Item Selector" data-analytics-action-param="Filter" class="form-control w-75">
  </div>
<% end %>
<div class="item-table my-4">
  <table class="table mb-0 border" data-controller="table" data-table-field-value="Callnumber" data-table-asc-value="true">
    <thead>
      <tr>
        <th data-table-target="header" aria-sort="ascending" class="text-start" data-table-field-param="Callnumber" data-action="click->table#sort">
          <button type="button" class="btn btn-link pe-0 text-decoration-none text-black" data-action="analytics#send" data-analytics-category-param="Item Selector" data-analytics-action-param="Sort/Call number">Call number</button>
        </th>
        <th data-table-target="header" class="text-end" data-table-field-param="Status" data-action="click->table#sort">
          <button type="button" class="btn btn-link pe-0 text-decoration-none text-black" data-action="analytics#send" data-analytics-category-param="Item Selector" data-analytics-action-param="Sort/Status">Status</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render Folio::ItemSelectorItemComponent.with_collection(items, f: f) %>
    </tbody>
  </table>
</div>
