# LDAP Workgroups for site-adminstrators
super_admin_groups: ['sul:requests-super-admin']
site_admin_groups: ['sul:requests-site-admin']

# LDAP Workgroups for origin specific mediation
origin_admin_groups:
  ART: ['sul:requests-art']
  EDUCATION: ['sul:requests-education']
  MARINE-BIO: ['sul:requests-hopkins']
  HILA: ['sul:requests-hoover-library']
  RUMSEY-MAP: ['sul:requests-rumsey']
  SPEC-COLL: ['sul:requests-spec']

origin_location_admin_groups:
  PAGE-MP: ['sul:requests-branner']
  SAL3-PAGE-MP: ['sul:requests-branner']
  GRE-HH-SVA: ['sul:requests-sva']

mediateable_origins:
  ART: {}
  EDUCATION: {}
  GRE-HH-SVA:
    library_override: SVA
  MARINE-BIO: {}
  PAGE-MP:
    library_override: EARTH-SCI
  SAL3-PAGE-MP:
    library_override: EARTH-SCI
  RUMSEY-MAP: {}
  SPEC-COLL: {}

contact_email: 'site-admin-sul-requests@lists.stanford.edu'

token_encrypt:
  secret: ''
  salt: ''

ils:
  bib_model: Folio::Instance
  patron_model: Folio::Patron
  pickup_destination_class: Folio::PickupDestination

folio:
  okapi_url: <%= ENV.fetch('OKAPI_URL', 'http://example.com') %>
  graphql_url: <%= ENV.fetch('FOLIO_GRAPHQL_URL', 'http://example.com') %>
  tenant: 'sul'
  config_set: prod
  standard_patron_group_names: ['staff', 'faculty', 'undergrad', 'graduate']
  default_service_point: 'GREEN-LOAN'
  ilb_eligible_patron_groups:
    - faculty
    - fellow
    - graduate
    - postdoctoral
    - staff
    - undergrad
    - visiting-scholar
  scan_pilot_groups:
    - faculty
    - fellow
    - graduate
    - postdoctoral
    - staff
    - undergrad
    - visiting-scholar

mailer_host: <%= `echo $HOSTNAME` %>
hours_api: 'https://library-hours.stanford.edu/'
searchworks_link: 'https://searchworks.stanford.edu/view'
sul_illiad: 'https://sul-illiad-test.stanford.edu/'
illiad_api_key: 'AbC123'
analytics_debug: true
stanford_ips:
  singletons: []
  ranges: []
features:
  estimate_delivery: true
  hold_recall_service: true
  hold_recall_via: 'illiad'
  scan_service: true
  mediator_email: true
  requests_redesign: false

background_jobs:
  enabled: false

embed:
  url: https://embed.stanford.edu

purl:
  url: https://purl.stanford.edu

mylibrary:
  url: https://mylibrary.stanford.edu/

data_cleanup:
  age: <%= 1.year %>

libraries:
  default:
    contact_info:
      phone: "(650) 723-1493"
      email: greencirc@stanford.edu
    label: Stanford Libraries
  ARS:
    label: Archive of Recorded Sound
    contact_info:
      phone: (650) 723-9312
      email: soundarchive@stanford.edu
    folio_pickup_service_point_code: ARS
    reading_room_url: https://library.stanford.edu/libraries/archive-recorded-sound
    hold_pseudopatron: HOLD@AS
    hours:
      library_slug: ars
      location_slug: archive-recorded-sound
  ART:
    label: Art & Architecture Library (Bowes)
    contact_info:
      phone: "(650) 723-3408"
      email: artlibrary@stanford.edu
    folio_pickup_service_point_code: ART
    hold_pseudopatron: HOLD@AR
    hours:
      library_slug: art
      location_slug: library-circulation
  BIOLOGY:
    label: Biology Library (Falconer)
    hours:
      library_slug: falconer
      location_slug: library-circulation
  BUSINESS:
    label: Business Library
    contact_info:
      phone: "(650) 725-2055"
      email: gsb_librarycirc@stanford.edu
    folio_pickup_service_point_code: BUS-IDESK
    hold_pseudopatron: HOLD@BU # NOTE, in FOLIO the name is HOLD@JA
    hours:
      library_slug: business
      location_slug: library-i-desk
    unpermitted_pickup_groups: [lane-guest, law-alumni, law-guest, sul-guest, sul-purchased, sul-contractprograms, sul-short-term, visitor]
  CHEMCHMENG:
    label: Chemistry & ChemEng Library (Swain)
    hours:
      library_slug: swain
      location_slug: library-circulation
  CLASSICS:
    label: Classics Library
    hold_pseudopatron: HOLD@CL
    hours:
      library_slug: classics-library
      location_slug: library-circulation
  EARTH-SCI:
    label: Earth Sciences Library (Branner)
    folio_pickup_service_point_code: EARTH-SCI
    hold_pseudopatron: HOLD@ES
    hours:
      library_slug: branner
      location_slug: library-circulation
  EAST-ASIA:
    label: East Asia Library
    contact_info:
      phone: (650) 725-3435
      email: eastasialibrary@stanford.edu
    reading_room_url: https://library.stanford.edu/libraries/east-asia-library
    folio_pickup_service_point_code: EAST-ASIA
    hold_pseudopatron: HOLD@EA
    hours:
      library_slug: eal
      location_slug: library-circulation
  EDUCATION:
    label: Education Library (at SAL1&2)
    instructions: The Education Library is closed for construction. Request items for pickup at another library.
    contact_info:
      phone: "(650) 723-2121"
      email: cubberley@stanford.edu
    hold_pseudopatron: HOLD@ED
    hours: # Use SAL 1+2 hours while EDUCATION is closed
      library_slug: sal12
      location_slug: operations
    iplc_pickup_location_code: STA_GREEN
  ENG:
    label: Engineering Library (Terman)
    folio_pickup_service_point_code: ENG
    hold_pseudopatron: HOLD@EN
    hours:
      library_slug: englib
      location_slug: library-circulation
  GREEN:
    label: Green Library
    contact_info:
      phone: "(650) 723-1493"
      email: greencirc@stanford.edu
    folio_pickup_service_point_code: GREEN-LOAN
    hold_pseudopatron: HOLD@GR
    hours:
      library_slug: green
      location_slug: library-circulation
  LANE:
    label: Medical Library (Lane)
    hold_pseudopatron: HOLD@LN
    hours:
      library_slug: lane
      location_slug: library-circulation
    unpermitted_pickup_groups: [bus-guest, law-alumni, law-guest, sul-contractprograms, sul-guest, sul-purchased, sul-short-term]
  LATHROP:
    label: Lathrop Library
    hours:
      library_slug: lathrop
      location_slug: tech-lounge
  LAW:
    label: Law Library (Crown)
    contact_info:
      phone: "(650) 723-2477"
      email: circulation@law.stanford.edu
    folio_pickup_service_point_code: LAW
    hold_pseudopatron: HOLD@LW
    hours:
      library_slug: law
      location_slug: library-circulation
    unpermitted_pickup_groups: [lane-guest, bus-guest, sul-guest, sul-contractprograms, sul-purchased, sul-short-term, visitor]
  MARINE-BIO:
    label: Marine Biology Library (Miller)
    contact_info:
      phone: "(831) 655-6229"
      email: HMS-Library@lists.stanford.edu
    folio_pickup_service_point_code: MARINE-BIO
    hold_pseudopatron: HOLD@MA
    hours:
      library_slug: hopkins
      location_slug: library-circulation
  MATH-CS:
    label: Math & Statistics Library
    hours:
      library_slug: mathstat
      location_slug: library-circulation
  MEDIA-CENTER:
    label: Media Microtext
    folio_pickup_service_point_code: MEDIA-CENTER
    hold_pseudopatron: HOLD@MD
    hours:
      library_slug: green
      location_slug: media-microtext-center
  MUSIC:
    label: Music Library
    contact_info:
      phone: (650) 723-1211
      email: muslibcirc@stanford.edu
    folio_pickup_service_point_code: MUSIC
    hold_pseudopatron: HOLD@MU
    hours:
      library_slug: music
      location_slug: library-circulation
  RUMSEY-MAP:
    label: David Rumsey Map Center
    instructions: Researchers can request to view these materials in the David Rumsey Map Center.
    contact_info:
      phone: (650) 498-8698
      email: rumseymapcenter@stanford.edu
    folio_pickup_service_point_code: RUMSEY-MAP
    reading_room_url: https://library.stanford.edu/rumsey/about-center/visitor-policies
    hold_pseudopatron: HOLD@RM
    hours:
      library_slug: Rumsey
      location_slug: visitor-access
  RWC:
    label: Academy Hall (SRWC)
    folio_pickup_service_point_code: RWC
    hold_pseudopatron: HOLD@RU
    hours:
      library_slug: srwc
      location_slug: lobby-desk
  SAL:
    label: SAL1&2 (on-campus shelving)
    hold_pseudopatron: HOLD@SL
    hours:
      library_slug: sal12
      location_slug: operations
  SAL3:
    label: SAL3 (off-campus storage)
    hours:
      library_slug: sal3
      location_slug: operations
  SAL-NEWARK:
    label: SAL Newark (off-campus storage)
    hours:
      library_slug: newark
      location_slug: operations
  SCAN:
    contact_info:
      phone: '(650) 725-1278'
      email: 'scan-and-deliver@stanford.edu'
  SVA:
    label: Silicon Valley Archives
    contact_info:
      phone: "(650) 723-1493"
      email: svarchives@stanford.edu
    folio_pickup_service_point_code: GREEN-LOAN
    hold_pseudopatron: HOLD@GR
    hours:
      library_slug: green
      location_slug: library-circulation
  SCIENCE:
    label: Science Library (Li and Ma)
    contact_info:
      phone: "(650) 723-1528"
      email: sciencelibrary@stanford.edu
    folio_pickup_service_point_code: SCIENCE
    hold_pseudopatron: HOLD@CS
    hours:
      library_slug: science
      location_slug: library-circulation
  SPEC-COLL:
    label: Special Collections
    instructions: Researchers can request to view these materials in the Special Collections Reading Room. Request materials at least 2 business days in advance. Maximum 5 items per day.
    contact_info:
      phone: "(650) 725-1022"
      email: specialcollections@stanford.edu
    folio_pickup_service_point_code: SPEC
    reading_room_url: https://library.stanford.edu/spc/using-our-collections
    reading_room_label: Special Collections & University Archives Reading Room
    hold_pseudopatron: HOLD@SP
    hours:
      library_slug: spc
      location_slug: field-reading-room
  TANNER:
    label: Philosophy Library (Tanner)
    hold_pseudopatron: HOLD@TA
    hours:
      library_slug: philosophy
      location_slug: library-circulation

locations:
  GRE-HH-SVA:
    contact_info:
      phone: "(650) 723-1493"
      email: svarchives@stanford.edu
  SAL3-PAGE-MP:
    contact_info:
      phone: '(650) 723-2746'
      email: 'brannerlibrary@stanford.edu'
  PAGE-MP:
    contact_info:
      phone: '(650) 723-2746'
      email: 'brannerlibrary@stanford.edu'

scan_destinations:
  BUSINESS: {}
    # staff_email: ''
  LAW: {}
    # staff_email: ''
  LANE: {}
    # staff_email: ''
  MARINE-BIO:
    ilb: true
    # pseudopatron_barcode: 'MAR-SCANDELIVER'
    material_types:
    - book
    - periodical
  GREEN:
    ilb: true
    pseudopatron_barcode: 'GRE-SCANDELIVER'
    service_point_code: 'GREEN-LOAN'
    material_types:
    - book
    - periodical
  SAL3:
    ilb: true
    material_types:
    - book
    - periodical
  default:
    ilb: true
    pseudopatron_barcode: 'GRE-SCANDELIVER'
    service_point_code: 'GREEN-LOAN'
    material_types:
    - book
    - periodical

# Aeon external request endpoint (ERE)
aeon_ere_url: https://stanford.aeon.atlas-sys.com/logon?Action=11&Type=200
RECAPTCHA:
  SITE_KEY: 6Lc6BAAAAAAAAChqRbQZcn_yyyyyyyyyyyyyyyyy
  SECRET_KEY: 6Lc6BAAAAAAAAKN3DRm6VA_xxxxxxxxxxxxxxxxx
EMAIL_TO: yolo@example.com
HOSTNAME: foo.example.com


# paging schedule:
# when the request comes in
# next time for pulls
# staff packing delay
# next time mailroom pickup
# next time mailroom sorts
# next time mailroom delivers
# check minimum transit days / staff processing time
# + unpacking/staff checkin delay

# scan schedule:
# next time for pulls
# staff packing delay
# mail room times if needed
# scan processing time
scan:
  GREEN: {}
  MARINE-BIO: {}
  SAL3:
    scan_processing_days: 1
    scan_schedule:
      - 12pm
      - 3pm
  # BUSINESS:
  # LAW:
  # LANE:
  default: # mail room delays to GREEN
    scan_processing_days: 1
    scan_schedule: 6pm

mailroom: # M-F
  sorted_by:
    - 7:30am
    - 8:14am # SAL3
    - 10:45am
    - 3pm
  GREEN:
    - 7:30am
    - 8:15am
    - 10:45am
  SAL: 4pm
  SAL3: 8:13am
  ENG: 8:45am
  SCIENCE: 8:45am
  ART: 9am
  EARTH-SCI: 9:15am
  LANE: 9:15am
  RWC: 9:30am
  MUSIC: 9:45am
  LAW: 9:45am
  TANNER: 10:15am
  BUSINESS: 10:15am
  EDUCATION: 11am
  SPEC-COLL: 1:30pm
  EAST-ASIA: 1:30pm
  LATHROP: 1:30pm
  MARINE-BIO: 12pm # MARINE-BIO: MWF, 3pm pickup from MARINE-BIO, TTh pickup from GREEN
  # Check GRE-STACKS to MARINE-BIO on 1/12
  # Green at 3pm
  # mail room gets 7:30
  # courier gets on T
  # couriers delivers W @ 5
  # MARINE-BIO available Th 9am

  # MEDIA-CENTER to GREEN is funny

library_pull_schedule:
  ART: 12pm
  BUSINESS: 8:30am
  EARTH-SCI: 9am
  EAST-ASIA: 8am
  EDUCATION:
    - 9am
    - 2pm
  ENG: 9am
  GREEN:
    - 7:30am
    - 3pm
  LANE: 9am
  LAW: 12pm
  MARINE-BIO: 9am
  MEDIA-CENTER:
    - 10am
    - 2pm
    - 5pm
  MUSIC: 9am
  RUMSEY-MAP: 12pm
  SAL: 1pm
  SAL3: 11:55am
  SCIENCE: 9am
  SPEC-COLL: 10am

library_staff_checkin_schedule:
  LAW: 3pm

minimum_library_processing_days:
  SAL: 2
  RUMSEY-MAP: 3
  SPEC-COLL: 1

hold_shelf_staff_checkin_delay_hours:
  default: 2
  EDUCATION: 1
  MEDIA-CENTER: 1
  LANE: 6
  GREEN: 3
  MARINE-BIO: 5
  SAL3: 0

hold_instead_of_recall:
  - 'In process'
  - 'On order'
  - 'In transit'

allowed_visitor_pickups:
  - 'GREEN-LOAN'
  - 'ART'
  - 'EAST-ASIA'
  - 'LANE-DESK'
  - 'MEDIA-CENTER'
  - 'SPEC'
  - 'RUMSEY-MAP'

throttling:
  redis_url:

turnstile:
  enabled: false
  safelist:
    - 171.64.0.0/14
    - 10.0.0.0/8
    - 172.16.0.0/12
  allowed_user_agents: []

patron_request_type_mapping:
  scan: Scan
  mediated: Mediated page
  hold: Hold
  recall: Recall
  page: Page
