<div class="alert alert-danger error">
  <h1>Apologies, our systems are down.</h1>
  <p>Please check the <a href="https://library-status.stanford.edu/" class="alert-link">system status</a> or try again later. If the issue persists, please <a href="https://library.stanford.edu/contact-us" class="alert-link">report it</a>.</p>
</div>
