.admin-requests {
  h2 {
    display: inline;
  }

  h3 {
    color: $sul-admin-h3-color;
    font-size: 28px;
  }

  h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
  }

  table {
    margin: 10px 0 40px;

    thead {
      th {
        white-space: nowrap;
      }
    }

    tbody {
      .odd {
        background-color: $sul-admin-table-row-odd-color;
      }

      .even {
        background-color: $sul-admin-table-row-even-color;
      }

      .holdings {
        background-color: $white;
      }
    }
  }
}

.dashboard-table {
  text-align: center;
}

.editable-date {
  .icon-arrow-left {
    @extend .fa;
    @extend .fa-arrow-left;
  }

  .icon-arrow-right {
    @extend .fa;
    @extend .fa-arrow-right;
  }

  .active.day {
    background-color: $color-pantone-403;
  }
}
