.btn-md {
  font-size: 1.1 * $font-size-base;
}

.btn-full {
  width: 100%;
}

.btn-scan {
  @include button-variant(
    $btn-scan-color,
    $btn-scan-bg,
    $btn-scan-border
  );
}

.btn-sub-text {
  display: block;
  font-size: 0.85em;
}
