.dialog-how-to {
  color: $sul-h1-font-color;
  font-weight: normal;
}

.dialog-steps {
  padding-left: 1.5rem;
}

.dialog-more-info {
  margin-bottom: 1.5rem;
}

.dialog-buttons {
  align-items: center;
  column-gap: 2rem;
  display: flex;
  justify-content: flex-start;

  #new_request {
    width: fit-content;
  }

  .btn-primary {
    flex: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
