.flashes {
  margin-top: 10px;
}

.alert .h4 {
  display: block;
  margin-top: 0;
}

.error {
  margin-top: 3rem;
  padding: 3rem;

  h1 {
    color: inherit;
    font-size: 3rem;
  }

  p {
    color: $color-black;
    font-size: 1.75rem;
  }
}
