.form-group {
  h3 {
    margin-top: 0;
  }

  margin-bottom: 1rem;
}

.destination-note-callout {
  color: $text-color;
}

.col-form-label {
  text-align: right;
}

// This ensures that the login options toggle is viewed
// as part of the form DOM so that the contentHeight is
// calculated properly in IE.
#new_request {
  display: inline-block;
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid $grayish-yellow;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-like-text {
  padding-top: 7px;
}

.or-divider {
  background-color: $body-bg;
  color: $dark-gray;
  font-size: 1.1em;
  margin: -32px auto 10px;
  position: relative;
  text-align: center;
  width: 10ch;
}

.required:not([for='request_destination']) {
  &::after {
    @extend .badge;
    @extend .bg-warning;
    color: white;
    content: 'Required';
    display: inline-block;
    margin-left: 5px;
  }
}

.hold-recall {
  label {
    &[for="request_needed_date"]::after {
      display: none;
    }
  }
}

.form-group h2,
.form-group .success-page .requested-by,
.searchworks-item {
  font-family: 'dejavu_sansextralight', $font-family-base;
  line-height: 1.6em;
  margin: 0 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-item-callnumber {
  margin: -1em 0 0.5em;
  color: $color-cardinal-red;
}

.go-back-link {
  line-height: 3;
}

.help-block {
  color: $dark-gray;
  margin-bottom: 0;
 }

.form-control-static {
  @extend .col-form-label;
  text-align: inherit;
}

.login-send-group {
  margin-top: 25px;
  margin-bottom: 25px;
}

.no-js #no-sunetid-form {
  display: block;
}

#no-sunetid-form {
  display: none;
}

.with-library-id-error {
  #sunetid-form {
    display: none;
  }

  #no-sunetid-form {
    display: block;
  }
}

.no-js .go-back-link {
  display: none;
}

.mark-as-complete-form {
  display: inline;
}

.suid-prefix {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.alert-warning {
  background-color: $alert-warning-bg;
}
