.form-group {
  hr {
    border: 0;
    border-top: 1px solid $grayish-yellow;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .input-like-text {
    padding-top: 7px;
  }

  .or-divider {
    background-color: $body-bg;
    color: $dark-gray;
    font-size: 1.1em;
    margin: -32px auto 10px;
    text-align: center;
    width: 10ch;
  }

  .required:not([for='request_destination']) {
    &:after {
      @extend .label;
      @extend .label-warning;
      content: 'Required';
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.hold-recall {
  label {
    &[for="request_needed_date"]:after {
      display: none;
    }
  }
}

.form-group h2,
.form-group .success-page .requested-by,
.searchworks-item {
  font-family: 'dejavu_sansextralight', $font-family-base;
  line-height: 1.6em;
  margin: 0 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.go-back-link {
  line-height: 3;
}

.help-block {
  color: $dark-gray;
  margin-bottom: 0;
 }

.form-control-static {
  min-height: 0;
  padding-bottom: 0;
}

.login-send-group {
  margin-top: 25px;
}

.no-js #no-sunetid-form {
  display: block;
}

#no-sunetid-form {
  display: none;
}

.no-js .go-back-link {
  display: none;
}
