.form-group {
  .input-like-text {
    padding-top: 7px;
  }

  hr {
    border: 0;
    border-top: 1px solid $grayish-yellow;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .or-divider {
    background-color: $body-bg;
    font-size: 1.1em;
    margin: -32px auto 10px;
    text-align: center;
    width: 3em;
  }

  .required:not([for='request_destination']) {
    &:after {
      @extend .label;
      @extend .label-warning;
      content: ' Required';
    }
  }
}

.hold-recall {
  label {
    &[for="request_needed_date"]:after {
      display: none;
    }
  }
}

.form-group h2,
.searchworks-item {
  font-family: 'dejavu_sansextralight', $font-family-base;
  margin: 0 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.go-back-link {
  line-height: 3;
}
