h1 {
  margin-top: 10px;
  padding-bottom: 15px;
}

.sub-title {
  font-size: 1.25em;
}

.home-page-section {
  padding: 15px 0 0;

  h2 {
    border-bottom: 1px solid $sul-h2-border-color;
  }

  ul {
    li {
      line-height: 1.6em;
    }
  }
}

.access-error {
  color: $red;
  font-size: 1.25em;
}
