.mediation-table {
  .mediate-toggle {
    border-bottom: 0;

    i {
      @extend .glyphicon-plus-sign;
      color: $gray-41-percent;
    }
  }

  .expanded {
    .mediate-toggle {
      i {
        @extend .glyphicon-minus-sign;
      }
    }
  }

  .holdings {
    table,
    .admin-comments {
      margin: 0 auto;
      width: 90%;
    }

    .admin-comments {
      .button-group {
        margin-bottom: 5px;
      }
    }

    .request-status {
      display: none;
    }

    .approved {
      .approval-btn {
        @extend .disabled;
      }
    }

    .approved,
    .errored {
      .request-status {
        display: inline;
      }
    }
  }

  .admin-comment-input {
    width: 350px;
  }

  .mediation-header {
    @include sort-icons;
  }
}
