.display-dates {
  .form-control {
    display: inline-block;
    margin-bottom: $form-group-margin-bottom;
    margin-left: 2ch;
    margin-right: 2ch;
    width: auto;
  }

  .start-at,
  .end-at {
    display: inline-block;
  }

  @media screen and (max-width: $screen-sm-min) {
    .start-at,
    .end-at {
      display: block;
    }

    .col-form-label {
      width: 14ch;
    }
  }
}

.messages {
  margin-bottom: 26px;
  margin-left: 2em;

  h2 {
    color: $color-black;
    display: inline;
    font-size: 1.2em;
    font-weight: normal;
  }

  .message {
    clear: both;
  }

  .status {
    color: $color-cardinal-red;
  }

  .active {
    color: $green;
    font-weight: bold;
  }

  .edit-message {
    margin-bottom: 7px;
  }
}

.zero-items-message {
  color: $dark-gray;
  padding-top: 7px;
}
