.display-dates {
  .form-control {
    display: inline-block;
    margin-bottom: $form-group-margin-bottom;
    margin-left: 2ch;
    margin-right: 2ch;
    width: auto;
  }

  .start-at,
  .end-at {
    display: inline-block;
  }

  @media screen and (max-width: $screen-xs-max) {
    .start-at,
    .end-at {
      display: block;
    }

    .control-label {
      width: 14ch;
    }
  }
}

.messages {
  margin-left: 2em;

  h2 {
    color: $black;
    float: left;
    font-size: 1.2em;
    font-weight: normal;
  }

  .message {
    clear: both;
  }

  .status {
    color: $cardinal-red;
  }

  .active {
    color: $green;
    font-weight: bold;
  }

  .edit-message {
    left: 14px;
    position: relative;
    top: 14px;
  }
}
