.display-dates {
  .form-control {
    display: inline-block;
    margin-bottom: $form-group-margin-bottom;
    margin-left: 2ch;
    margin-right: 2ch;
    width: auto;
  }

  .start-at,
  .end-at {
    display: inline-block;
  }

  @media screen and (max-width: $screen-xs-max) {
    .start-at,
    .end-at {
      display: block;
    }

    .control-label {
      width: 14ch;
    }
  }
}
