.non-stanford-user-overlay {
  background-color: $body-bg;
  bottom: auto;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;

  .overlay-options {
    text-align: center;
  }
}

.modal-body {
  // We only want a really tall overlay
  // (with overflow hidden) when we're
  // being displayed in a modal. Otherwise
  // the normal page flow should be fine
  .non-stanford-user-overlay {
    min-height: 10000px;
    overflow: hidden;
  }
}
