#scan-or-deliver {
  .buttons {
    margin-bottom: 1em;

    .btn {
      max-width: 20em;
      width: 100%;
    }
  }

  .content {
    text-align: left;
  }

  .scan-to-pdf {
    padding-top: 2.5em;
  }
}

.panel-danger {
  .card-header {
    border-bottom: 0;
    font-size: 1.3em;

    a {
      border-bottom: 0;
    }

    .fa {
      line-height: 1.3em;
    }

    .fa-chevron-down {
      display: inline;
    }

    .fa-chevron-right {
      display: none;
    }

    .collapsed {
      .fa-chevron-down {
        display: none;
      }

      .fa-chevron-right {
        display: inline;
      }
    }
  }

  .card-header, .card-body {
    background: lighten($panel-danger-bg, 60);

    p:last-child {
      margin-bottom: 0;
    }
  }

  .card-title {
    font-weight: 500;
  }
}
