#scan-or-deliver {
  .buttons {
    margin-bottom: 1em;

    a {
      .btn {
        max-width: 20em;
        width: 100%;
      }
    }
  }

  .content {
    text-align: left;
  }

  .separator {
    text-align: center;

    h2 {
      background: $sul-request-form-separator-h2-bg;
      border: 0;
      display: inline-block;
      margin: 0 0 0.5em;
      padding: 0 10px;
      text-align: center;
    }
  }

  .scan-to-pdf {
    border-top: 1px solid $sul-request-form-scan-border-color;
    margin-top: -2.1em;
    padding-top: 2.5em;
  }
}

@media only screen and (max-width : 480px) {
  #scan-or-deliver {
    .separator {
      h2 {
        font-size: 1.7em;
      }
    }

    .scan-to-pdf {
      margin-top: -1.7em;
    }
  }
}
