#scan-or-deliver {
  .buttons {
    margin-bottom: 1em;

    .btn {
      max-width: 20em;
      width: 100%;
    }
  }

  .content {
    text-align: left;
  }

  .scan-to-pdf {
    padding-top: 2.5em;
  }
}

.card-danger {
  background: $panel-danger-bg;

  .card-header {
    border-bottom: 0;
    background: transparent;
    padding-bottom: 0;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }
}
