.success-page {
  h1 {
    .glyphicon-ok {
      color: $dark-cyan;
    }
  }

  .requested-by {
    font-size: 1.6em;
  }

  .user-contact-information {
    .requested-by {
      color: $alert-red;
      font-weight: 300;
    }
  }
}

.approval-error {
  color: $alert-red;
  font-weight: bold;
}
