.success-page {

  .request-info {
    color: $body-color;

    h2 {
      color: inherit;
      font-size: 1.6em;
      margin-top: 0;
    }
  }

  .requested-by {
    font-size: 1.6em;
  }

  .user-contact-information {
    .requested-by {
      color: $alert-red;
      font-weight: 300;
    }
  }
}

.approval-error {
  color: $alert-red;
  font-weight: bold;
}
