<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <p>
      This email was sent in response to a request from Requests to
      change the PIN for account <b><%= @patron.library_id %></b>.
    </p>
    <p style="font-size: 18pt">
      <%= link_to 'Change my PIN', @url.html_safe %>
    </p>
    <p>
      If you did not ask to change your PIN, ignore this email. This link will
      expire in 20 minutes.
    </p>
    <p>
      Questions? Contact the Privileges desk at sul-privileges@stanford.edu or
      (650) 723-1492.
    </p>
  </body>
</html>
