<div id='redirectNote'>
  <a href='<%= @redirect_to %>'>Click here if you are not redirected.</a>
</div>
<script type='text/javascript'>
  var div = document.getElementById('redirectNote');
  div.innerHTML = 'Processing...';
  window.location.href = '<%= @redirect_to %>';
</script>
