<% if patron_or_group.checkouts.any?(&:renewable?) %>
  <% if patron_or_group.can_renew? %>
      <% renewable_count = patron_or_group.checkouts.count(&:renewable?) %>
      <%= form_tag renew_eligible_checkouts_path, method: :post do %>
        <%= button_tag class: 'btn btn-primary btn-sm',
                        data: { turbo_submits_with: t('mylibrary.renew_all_items.in_progress_html', count: renewable_count) },
                        type: 'submit' do %>
          <i class="bi bi-arrow-repeat me-1"></i> Renew <%= pluralize(renewable_count, 'eligible item') %>
        <% end %>
      <% end %>
  <% else %>
    <button disabled class="btn btn-sm"><i class="bi bi-arrow-repeat me-1"></i> Renewals blocked</button>
  <% end %>
<% end %>
