<turbo-frame id="past-payments">
  <div id="payments" class="page-section" data-controller="sortable" data-sortable-sort-value="date">
    <% if @payments.any? %>
      <div class="d-flex justify-content-end">
        <div class="dropdown" data-sortable-target="sortMenu">
          <button class="btn btn-outline-primary mb-2 dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by date paid
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><button class="dropdown-item" data-action="click->sortable#sort" data-sortable-sort-param="status" data-sortable-label-param="Sort by reason">reason</button></li>
            <li><button class="dropdown-item active" data-action="click->sortable#sort" data-sortable-sort-param="date" data-sortable-label-param="Sort by date paid">date paid</button></li>
            <li><button class="dropdown-item" data-action="click->sortable#sort" data-sortable-sort-param="title" data-sortable-label-param="Sort by title">title</button></li>
            <li><button class="dropdown-item" data-action="click->sortable#sort" data-sortable-sort-param="fee" data-sortable-label-param="Sort by amount">amount</button></li>
          </ul>
        </div>
      </div>
    <% else %>
      <span>There are no past fees or fines on this account.</span>
    <% end %>

    <% if @payments.any? %>
      <ul class="payments list list-group" data-sortable-target="list" aria-live="polite">
        <%= render Folio::FineComponent.with_collection(@payments, sortable: true, patron: patron_or_group) %>
      </ul>
    <% end %>
  </div>
</turbo-frame>
