<turbo-frame id="past-payments">
  <div id="payments" class="page-section" data-controller="sortable" data-sortable-sort-value="date">
    <% if @payments.any? %>
      <div class="d-flex justify-content-end">
        <%= render SortableDropdownComponent.new(button_label: 'date paid') do |component| %>
          <% component.with_list_item(label: 'reason', field: 'status') %>
          <% component.with_list_item(label: 'date paid', field: 'date') %>
          <% component.with_list_item(label: 'title', field: 'title') %>
          <% component.with_list_item(label: 'amount', field: 'fee') %>
        <% end %>
      </div>
    <% else %>
      <span>There is no history on this account.</span>
    <% end %>

    <% if @payments.any? %>
      <ul class="payments list list-group" data-sortable-target="list" aria-live="polite">
        <%= render Folio::FineComponent.with_collection(@payments, sortable: true, patron: patron_or_group) %>
      </ul>
    <% end %>
  </div>
</turbo-frame>
