<table width="100%" cellpadding="0" cellspacing="6" bgcolor="#990000"><tr><td align="left"><img src="http://library.stanford.edu/staff/afs/images/sulair.gif" border="0" width="110" height="19" alt="Sulair" /></td><td align="right"> </td>
<td align="right">
	<font color="white">
				<%= link_to 'Add New Key',  new_admin_pickupkey_path, :style => "color:white"%>
				| 
				<%= link_to 'View Libraries', admin_libraries_path, :style => "color:white" %>
				|
				<%= link_to 'View Pickup Library Keys', admin_pickupkeys_path, :style => "color:white" %>
</font></td></tr></table>

