<li class="mx-3 d-flex justify-content-between align-items-center">
  <h4 class="card-title mb-0 fw-normal"><i class="bi bi-clock me-1"></i> <%= appointment_time_range %></h4>

  <div>
    <span class="badge text-bg-light"><%= appointment.requests.count %><span class="visually-hidden"> items</span></span>
  </div>
</li>
