<% if existing_appointment? %>
<div class="banner d-flex flex-row p-3">
  <div class="w-50">
    <h2 class="mb-1 h4">Current</h2>
    <div class="fw-normal"><%= render AppointmentTimeRangeComponent.new(appointment: @appointment) %></div>
  </div>
  <div class="ps-3 border-start">
    <h2 class="mb-1 h4">
      New
    </h2>
    <div class="text-digital-blue-dark" data-appointment-target="selection">
      <span class="fw-normal">
        Select date <%= 'and time' unless @appointment.reading_room&.day_only_appointments? %>
      </span>
    </div>
  </div>
</div>
<% else %>
  <% unless @appointment.reading_room&.day_only_appointments? %>
    <div class="banner d-flex flex-row text-digital-blue-dark" data-appointment-target="selection"></div>
  <% end %>
<% end %>
