<li class="mx-3 d-flex justify-content-between align-items-center flex-column card p-2 mb-2">
  <h3 class="card-title mb-0 fw-normal d-flex flex-wrap justify-content-center gap-2 mt-2">
    <%= render Aeon::AppointmentDateTimeComponent.new(appointment: appointment, icon_class: 'me-1') %>
  </h3>
  <div class="mt-2"><%= appointment.reading_room.name %></div>
  <div class="mt-2"><%= render Aeon::AppointmentLimitComponent.from_appointment(appointment) %></div>
</li>
