<%= tag.div class: 'daily-item-limit d-flex align-items-center flex-wrap', data: do %>
  <% if limit? %>
    <span class="me-2">Item limit: <span data-progress-bar-target="count"><%= count %></span>/<%= limit %></span>

    <div class="progress d-none d-sm-flex" aria-hidden="true">
      <div class="progress-bar" data-progress-bar-target="bar"></div>
    </div>
  <% else %>
    No item limit
  <% end %>
<% end %>
