<% if existing_appointment? %>
<div class="selected-appointment d-flex flex-row">
  <div class="w-50 border-end">
    <h4>Current</h4>
    <%= render AppointmentTimeRangeComponent.new(appointment: @appointment) %>
  </div>
  <div class="ms-3">
    <h4>
      New
    </h4>
    <div data-appointment-target="selection">
      Select date <%= 'and time' unless @appointment.reading_room&.day_only_appointments? %>
    </div>
  </div>
</div>
<% else %>
  <% unless @appointment.reading_room&.day_only_appointments? %>
    <div class="selected-appointment d-flex flex-row" data-appointment-target="selection">
      Select date and time
    </div>
  <% end %>
<% end %>
