<div class="daily-item-limit d-flex align-items-center flex-wrap">
  <% if limit? %>
    <span class="me-2">Item limit: <%= count %>/<%= limit %></span>

    <div class="progress d-none d-sm-flex" aria-hidden="true">
      <div class="progress-bar <%= bar_color %>" style="width: <%= percentage %>%"></div>
    </div>
  <% else %>
    No item limit
  <% end %>
</div>
