<div class="my-4">
  <i class="bi bi-pin-angle-fill me-2 text-digital-red"></i>You <%= submitted_requests? ? 'also saved' : 'saved' %> <%= pluralize(saved_count, 'item') %> for later. <%= digital? ? 'Complete' : 'Schedule' %> them anytime at Requests > <%= link_to 'Saved for later', draft_aeon_requests_path, class: 'su-underline' %>.
</div>
