<%= link_to edit_aeon_appointment_path(appointment.id), class: 'text-decoration-none', data: { action: 'modal#open' } do %>
  <i class="bi bi-pencil-fill"></i><span class="visually-hidden">Edit appointment</span>
<% end %>
