<div class="d-flex flex-row justify-content-between align-items-start gap-2">
  <div class="d-flex flex-column mb-2">
    <span class="fw-semibold">
      <i class="bi bi-geo-alt-fill"></i>
      <%= reading_room.name %>
    </span>
    <span><%= reading_room.directions %></span>
    <span class="mb-2">
      Hours: <%= reading_room.human_readable_hours %>
    </span>
  </div>
  <%= link_to new_aeon_appointment_path(reading_room_id: reading_room.id ), class: 'btn btn-primary hide-when-1-item', data: { action: 'modal#open' } do %>
    <i class="bi bi-calendar-plus me-1"></i>Create new appointment
  <% end %>
</div>
