<% case status_level %>
<% when :warning %>
<i class="bi bi-exclamation-triangle-fill align-middle ms-2 text-digital-red"></i><span class="text-digital-red fw-normal"><%= status_message %></span>
<% end %>
