<span class="small fw-medium rounded-pill text-white bg-lagunita-dark <%= status_class %>">
  <% if status_icon %><i class="bi bi-<%= status_icon %> align-middle me-1"></i><% end %><%= status_text %>
</span>
