<li id="<%= dom_id(@request) %>" data-transaction-number="<%= @request.transaction_number %>" class="request list-group-item border-0 px-0" data-empty-remove-target="item">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex gap-3">
      <%= render Aeon::RequestItemIdentifierComponent.new(request: @request) %>
      <%= render @after_component.new(request: @request) if @after_component %>
    </div>
  </div>
</li>
