<li id="<%= dom_id(request) %>" class="request list-group-item border-0 px-0 <%= "request-status-#{request.status}" %>">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex gap-3">
      <span class="ms-3"><%= render Aeon::RequestItemIdentifierComponent.new(request:) %></span>
      <%= render Aeon::RequestItemDetailComponent.new(request:) %>
    </div>
  </div>
</li>
