<div class="request-group request-group-per-appointment card rounded-0 px-3 py-2">
  <div class="metadata">
    <h3 class="h4 d-inline">
      <%= request_group.title %>
    </h3>
    <span class="ms-2">Call number: <%= request_group.base_callnumber %></span>
    <ul class="list-group list-group-flush mt-2">
      <%= render Aeon::RequestGroupPerAppointmentItemComponent.with_collection(requests) %>
    </ul>
  </div>
</div>
