<div class='form-group row'>
  <div class='col-form-label <%= label_column_class %>'>
    Earliest delivery
  </div>
  <div class='<%= content_column_class %> input-like-text'>
    <strong>No estimate available</strong>
  </div>
</div>
