<div class='<%= dialog_column_class %> success-page'>
  <h1 id='dialogTitle'>
    <h1>Sorry, we can't fulfill your request</h1>
  </h1>

  <p>It appears that you do not belong to any of the groups eligible for this service:</p>

  <ul>
    <li>faculty</li>
    <li>staff</li>
    <li>students</li>
    <li>post-docs</li>
    <li>fellows</li>
    <li>Stanford Visiting Scholars</li>
  </ul>

  <p>... with a current Stanford ID card.</p>
  <p>If you believe this is an error, contact <a href="mailto:greencirc@stanford.edu">greencirc@stanford.edu</a>.</p>
</div>

<!-- Header should read: "Sorry, we can't fulfill your request"
Body text:
You need to be a current patron in good standing to request this item.
Check My Library Account for more information, or contact Circulation & Privileges at mailto:greencirc@stanford.edu

Note that for this scenario in JV's design, the item requested information displays, along with the vol/copy requested, but "deliver to" and "not needed after" rows are intentionally suppressed -->
