<%# locals: (borrow_direct:) -%>

<strong>Stanford Libraries will be undergoing a major system upgrade Saturday, August 19 through Sunday, August 27.
<% if borrow_direct %>
  Requests fulfilled by our BorrowDirect partners may be available for pickup during the upgrade.
  You will be notified by staff. Most requests will be processed and available after August 31. 
<% else %>
 Requests will be processed on August 28, and items will be available for pickup on or after August 31. 
<% end %>
<a href="https://library.stanford.edu/news/major-system-upgrade-august-19-27">More information about the upgrade.</a></strong>