$font-family-base: "Source Sans 3", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Source Serif Pro", Georgia, Times, Times New Roman, serif;

$su-cardinal: #8C1515;
$su-digital-blue: #006CB8;
$su-digital-blue-dark: #00548F;
$su-process-black: #2E2D29;
$fog-light: #F4F4F4;
$su-process-black-50: #979694;

$primary: $su-digital-blue;
$link-hover-color: $su-digital-blue-dark;
$black: $su-process-black;

$headings-font-weight: 400;
$headings-line-height: 1.25;
$jungle-green: #279989;
$su-poppy: 233, 131, 0;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import "bootstrap-icons/font/bootstrap-icons";

// Create your own map
$custom-colors: (
  "cardinal": $su-cardinal,
  "jungle-green": $jungle-green,
  "su-process-black-50": $su-process-black-50
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import 'bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Serif+4:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

@font-face {
  font-family: Stanford;
  src: url(https://www-media.stanford.edu/assets/fonts/stanford.woff) format("woff"), url(https://www-media.stanford.edu/assets/fonts/stanford.ttf) format("truetype");
  font-weight: 300;
  font-display: swap
}

body {
  --bs-link-hover-decoration: underline;
  --bs-danger-bg-subtle: rgba(130, 0, 0, 0.1);
  --bs-danger-border-subtle: rgba(130, 0, 0, 0.1);
  --bs-info-bg-subtle: rgba(0, 84, 143, 0.08);
  --bs-info-border-subtle: rgba(0, 84, 143, 0.08);
  --bs-info-text-emphasis: #{$black};
  --bs-heading-color: #{$black};
  --bs-warning-rgb: #{$su-poppy};
  --bs-warning-bg-subtle: rgba(#{$su-poppy}, 0.1);
  --bs-warning-border-subtle: rgba(#{$su-poppy}, 1);
  --bs-warning-text-emphasis: black;
}

input[type="radio"] {
  --bs-border-color: #{$su-process-black-50}
}

/* This selector/rule can be removed after https://github.com/twbs/bootstrap/pull/39098 is released */
a {
  text-decoration: var(--bs-link-decoration);

  &:hover,
  &:focus-visible {
    text-decoration: var(--bs-link-hover-decoration);
  }
}

.su-logo {
  --bs-link-hover-decoration: none;
  display: inline-block;
  font-family: Stanford, $font-family-serif;
  font-variant-ligatures: discretionary-ligatures;
  font-feature-settings: "liga";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 0.75;
  text-decoration: none;
}

// Footer and header links don't get underline until you hover
#sul-header,
#su-footer {
  --bs-link-decoration: none;
  --bs-link-hover-decoration: underline;
}

// Font smoothing for light text on dark background
#app-header,
#su-footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sul-header {
  --bs-link-color-rgb: #{$su-cardinal};
  --bs-link-hover-color-rgb: #{$su-cardinal};
}

#su-footer {
  --bs-link-color-rgb: $white;
  --bs-link-hover-color-rgb: $white;

  ul {
    a {
      font-size: min(calc(0.825rem + 0.3vw), 1.25rem);

      @include media-breakpoint-down(sm) {
        font-weight: 600;
      }
    }
  }

  .copyright {
    font-size: 0.8125rem;

    @include media-breakpoint-up(sm) {
      font-size: 0.9375rem;
    }
  }
}

summary.btn::-webkit-details-marker{
  display: none;
}

details[open] summary .bi-chevron-right::before {
 transform: rotate(-90deg);
}

summary .bi-chevron-right::before {
  transition: .25s transform ease;
  font-weight: 900!important;
}

.required-label::after {
    content: '*';
    color: $su-cardinal;
    margin-left: 5px;
}

#user-header-hide:checked + .user-header {
  display: none;
}

.item-table {
  max-height: 25rem;
  overflow-x: auto;
}

.vr-lg {
  opacity: 1;
  width: 4px;
}

// Accordion in request form
.accordion-item {
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
  border-top-left-radius: var(--bs-accordion-border-radius) !important;
  border-top-right-radius: var(--bs-accordion-border-radius) !important;
  border-bottom-left-radius: var(--bs-accordion-border-radius) !important;
  border-bottom-right-radius: var(--bs-accordion-border-radius) !important;
}

.accordion-button, .accordion-header {
  background-color: $fog-light !important;
  border-top-left-radius: var(--bs-accordion-border-radius) !important;
  border-top-right-radius: var(--bs-accordion-border-radius) !important;
  border-bottom-left-radius: var(--bs-accordion-border-radius) !important;
  border-bottom-right-radius: var(--bs-accordion-border-radius) !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-button[aria-expanded=true] {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.step-number {
  width: 2rem;
  height: 2rem;
}


.accordion-button::after {
  display: none;
}

.completed {
  .edit-button {
    display: flex!important;
  }

  .step-number {
    background-color: $green!important;
    border-color: $green!important;
  }

  .accordion-title::after {
    content: "Completed";
    background-color: rgba($green, 0.1);
    padding: 2px 8px;
    font-size: 1rem;
    font-weight: normal;
    margin-right: .25rem;
    border-radius: 32px;
    color: $green;
  }
}

.accordion-button[aria-expanded="true"]{
  .step-number {
    background-color: $primary!important;
    border-color: $primary!important;
  }

  .accordion-title::after {
    content: "In progress";
    background-color: rgba($primary, 0.1);
    font-size: 1rem;
    padding: 2px 8px;
    margin-right: .25rem;
    border-radius: 32px;
    font-weight: normal;
    color: $primary;
  }
}

.styled-hr {
  height: 1px;
  background-color: $su-process-black-50;
  margin: 0px 10px;
}

.pill-close {
  font-size: .6rem;
}

.dl-inline {
  dt {
    display: inline;
    margin-right: $spacer * 0.5;
  }

  dd {
    display: inline;
  }
}

label.btn-close {
  cursor: pointer;
}

#patron_request_service_point_code,
#patron_request_needed_date {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

#patron_request_needed_date {
  padding: 0.375rem 0.75rem;
}

[aria-sort="ascending"]::after {
  content: "\F235";
  font-family: 'bootstrap-icons';
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 1px;
}

[aria-sort="descending"]::after {
  content: "\F229";
  font-family: 'bootstrap-icons';
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 1px;
}

.alert > p:last-of-type {
  margin-bottom: 0;
}

.itemselector-callnumber-pill {
  gap: 0.35rem;
  display: inline-flex;
  align-items: center;
  padding-left: 0.55rem;
  padding-right: 0.45rem;

  .callnumber {
    border-inline-end: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    font-size: 0.875em;
    line-height: 1.45em;
    padding-block: 0.1rem;
    padding-inline-end: 0.45rem;
  }
}
