a {
  border-bottom: 1px dotted $sul-link-border-color;

  &.disabled {
    color: $gray-ccc;
    cursor: not-allowed;
    text-decoration: none;
  }
}

h1 {
  color: $sul-h1-font-color;
  font-size: 2.3em;
  letter-spacing: -0.05em;
  padding-bottom: 0;
}

h2 {
  color: $sul-h2-font-color;
  font-size: 1.6em;
}

dt {
  color: $gray-41-percent;
  font-size: 0.9em;
  padding-top: 0.15em;
  text-transform: uppercase !important;
}

dd {
  margin-bottom: 0.5em;
  max-width: 45em;
}

label,
dt {
  font-weight: normal;
}

button:focus,
embed:focus,
input:focus,
object:focus,
select:focus,
textarea:focus {
  @include tab-focus;
}
