// Extracted from:
//   https://identity.stanford.edu/design-elements/color/
$color-cardinal-red: #8c1515;
$color-fog: #dad7cb;
$color-stone: #7f7776;


// Legacy colors:

$color-gray: #3f3c30;
$color-black: #000;
$color-beige-30: #e3dfd5;
$color-beige-10: #f2f1eb;
$color-beige-05: #fbfbf9;
$color-pantone-334: #009b76;
$color-pantone-401: #b6b1a9;
$color-pantone-144: #e98300;
$color-pantone-124: #eaab00;
