// Colors
$beige-10-percent: #f2f1eb;
$beige-30-percent: #e3dfd5;
$cardinal-red: #8c1515;
$gray: #3f3c30;
$gray-41-percent: #696969;
$pantone-401: #B6B1A9;

// Mappings
$sul-footer-bg-color: $beige-10-percent;
$sul-h1-font-color: $gray;
$sul-h2-border-color: $beige-30-percent;
$sul-link-color: $gray;
$sul-link-color-border: $pantone-401;

// Sizes
