@import 'sul-variables';

$primary: $color-cardinal-red;

$headings-font-weight: 300;

// Sizes
$line-height-base: 1.428571429;
$font-family-base: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$link-color: $gray-900;
$link-hover-color: $color-black;
$text-color: $color-black;
$link-hover-decoration: none;
$body-bg: $color-beige-05;

$pagination-active-bg: $color-stone;
$pagination-active-border: $color-stone;

// Panels
$panel-danger-text: $color-black;
$panel-danger-bg: $red;

// Tables
$table-cell-padding: 8px; // Default is 0.75rem

// Typography
$font-size-base: 0.875rem; // Default is 1rem
$font-size-tiny: ceil(($font-size-base * 0.71)) !default; // ~10px