<div class="mb-3">
  <%= f.label :item_info4, 'Deliver to', class: 'form-label d-block fw-semibold redesign-required-label' %>
  <%= f.select(
  :item_info4, options_for_select(default_service_points(current_user.patron).map { |sp| [sp.name, sp.code] }, selected: @request&.item_info4), { include_blank: false, required: false },
  class: 'form-select'
  ) %>
</div>
<div class="mb-4">
  <%= f.label :not_wanted_after, 'Not wanted after date', class: 'form-label fw-semibold' %>
  <%= f.date_field :not_wanted_after, class: 'form-control' %>
</div>
