<div id="requests" class="page-section" data-controller="sortable google-cover-image" data-sortable-sort-value="date">
  <div class="d-flex justify-content-between">
    <h1>Requests</h1>
    <% if @requests.any? %>
    <div class="dropdown" data-sortable-target="sortMenu">
      <button class="btn btn-outline-primary btn-sm dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by not needed after
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><button class="dropdown-item active" data-action="click->sortable#sort" data-sortable-sort-param="default" data-sortable-label-param="Sort by not needed after">not needed after</button></li>
        <li><button class="dropdown-item" data-action="click->sortable#sort" data-sortable-sort-param="date" data-sortable-label-param="Sort by date modified">date modified</button></li>
        <li><button class="dropdown-item" data-action="click->sortable#sort" data-sortable-sort-param="title" data-sortable-label-param="Sort by title)">title</button></li>
      </ul>
    </div>
    <% end %>
  </div>
  <% if @requests.any? %>
    <ul class="requests p-0" data-sortable-target="list" aria-live="polite">
      <%= render Folio::IllRequestComponent.with_collection(@requests, patron: patron_or_group) %>
    </ul>
  <% end %>
</div>

<div class="page-section">
  <h2>If your request isn't listed</h2>
  <ul>
    <li>Requests for material from Special Collections &amp; University Archives, the David Rumsey Map Center, the Archive of Recorded Sound and East Asia Library Special Collections are listed in <%= link_to 'https://stanford.aeon.atlas-sys.com/logon/', target: '_blank' do %>
      <%= render Icons::OpenInNewComponent.new %> Aeon.
    <% end %>
    </li>
    <li>Requests requiring approval are not listed here until they have been approved &mdash; typically 1-3 days before your scheduled visit.</li>
  </ul>
</div>
