<div data-behavior='item-selector' data-filter-selected-items='true'>
  <div class='input-group'>
    <input type='checkbox' data-barcode='123' data-callnumber='ABC 123' />
    <div data-behavior='checkedout-note' style='display:none;'>
      This is the checked out note
    </div>
  </div>
</div>
