<div class="accordion-header d-flex">
  <button class="accordion-button" type="button" data-patronRequest-target="accordionButton" data-bs-toggle="collapse" data-bs-target="#<%= target %>" aria-controls="<%= target %>" disabled>
    <div class="step-number d-flex justify-content-center align-items-center rounded-circle border border-secondary p-2 me-2 bg-secondary text-white"></div>
    <h2 class="accordion-title fw-semibold fs-5 mb-0">
      <%= title %>
    </h2>
    <button class="btn btn-link d-none edit-button align-items-center" data-action='click->patronRequest#editForm'>
      <i class="bi bi-pencil me-1"></i> Edit
    </button>
  </button>
</div>
