<div class="row p-3 pt-0 gap-3 flex-column flex-md-row selected-items-container">
  <%= render 'digitization_notice' %>

  <%= render 'save_for_later' %>
  <div class="accordion digitization-accordion px-0" data-patron-request-target="digitizationItems" data-item-selector-target="selectedItems" data-template="#digitizationTemplate">
    <% if f.object.selected_items.any? %>
      <% f.object.selected_items.each do |item| %>
        <%= render Aeon::DigitizationFormItemComponent.new(title: item.callnumber, dom_id: item.id, base_name: "patron_request[aeon_item][#{item.id}]", accordion: false) %>
      <% end %>
    <% end %>
  </div>

  <template id="digitizationTemplate">
    <%= render Aeon::DigitizationFormItemComponent.new(title: '__TITLE__', dom_id: '__ID__', base_name: 'patron_request[aeon_item][__ID__]') %>
  </template>
</div>
