<div class="row p-3 gap-3 flex-column flex-md-row">
  <%= render 'digitization_notice' %>

  <% sort_holdings(f.object.selectable_items).each do |selectable_item| %>
    <div data-id="<%= selectable_item.id %>" data-patron-request-target="digitization">
      <%= render Aeon::DigitizationFormItemComponent.new(title: selectable_item.callnumber, dom_id: selectable_item.id.parameterize, base_name: "patron_request[aeon_item][#{selectable_item.id.parameterize}]") %>
    </div>
  <% end %>
</div>
