<div class="aeon-form-notice p-3 mb-3">
  <span class="fw-bold">Notice</span>
  <ul>
    <li>Please be as specific as possible with your request.</li>
    <li>All orders will be delivered electronically unless otherwise requested.</li>
    <li>Some requests may require a fee. If payment applies a staff member will contact you to review the
    cost and confirm whether you wish to proceed.</li>
  </ul>
</div>
