<% if messages.any? %>
  <div class="alert alert-warning alert-dismissible mt-4 d-flex justify-content-start align-items-center" data-controller="remember" data-remember-key-value="broadcast-messages" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2 text-warning fs-4"></i>
    <%= render messages %>
    <button type="button" class="btn-close" aria-label="Close" data-action="click->remember#dismiss"></button>
  </div>
<% end %>
