<div class="row p-3 gap-3 flex-column flex-md-row">
  <div>
    <div>
      <span class='fw-bold'><%= f.object.aeon_reading_room_name %></span>
    </div>
  </div>

  <div class='mt-3'>
    Appointment placeholder
  </div>

  <div class='mt-3 mb-2'>
    <%= f.label :aeon_reading_special, 'Additional Information', :class => 'fw-bold py-2' %>
    <%= f.text_area :aeon_reading_special, :class => 'form-control', :rows => 3 %>
    <small class='text-cardinal mt-4'>Limit 255 characters.</small> 
  </div>

</div>
