<div class="row p-3 gap-3 flex-column flex-md-row">
  <div>
    <div>
      <span class='fw-bold'><%= f.object.aeon_reading_room_name %></span>
    </div>
    <div> Located somewhere </div>
    <div> Hours: Monday - Friday, 9-5 </div>
    <div> <%= f.object.aeon_reading_room_code %> </div>
  </div>
  Appointment

  Additional Information
</div>
