<div class="save-for-later-container border rounded p-3 mb-3" data-save-for-later-target="container" hidden>
  <h3 class="h4 text-cardinal"><i class="bi bi-pin-angle-fill me-2 text-digital-red"></i>Saved for later</h3>
  <ul class="list-unstyled" data-save-for-later-target="items"></ul>
</div>
