<input type="checkbox" id="user-header-hide" class="d-none">
<div class="user-header border-0 mt-4">
  <div class="d-flex flex-column flex-sm-row border-radius-4 border shadow-sm">
    <div class="d-flex p-2 bg-jungle-green text-white" data-bs-theme="dark">
      <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <i class="bi bi-person-circle fs-2"></i>
        <span class="text-uppercase d-block d-sm-none text-white mx-2">
          <%= current_user.patron.patron_group['desc'] %>
        </span>
      </div>
      <label for="user-header-hide" class="btn-close justify-self-end m-2 d-block d-sm-none" aria-label="Close"></label>
    </div>
    <div class="p-3 flex-grow-1">
      <div class="d-flex align-items-center gap-2">
        <div class="h4 mb-0">Welcome, <%= current_user.patron.display_name %>!</div>
        <div class="vr vr-lg bg-jungle-green d-none d-sm-block"></div>
        <span class="text-uppercase d-none d-sm-block">
          <%= current_user.patron.patron_group['desc'] %>
        </span>
      </div>
      <% current_user.patron.blocks.each do |block| %>
        <div class="warning small text-cardinal">IMPORTANT! <%= block %></div>
      <% end %>
    </div>
    <label for="user-header-hide" class="btn-close justify-self-end m-2 d-none d-sm-block" aria-label="Close"></label>
  </div>
</div>
