<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Missing or invalid EAD XML</h4>
  <p>We encountered an error while trying to load the collection information. Please check your finding aid source.</p>
</div>
