<div role="alert" class="alert alert-danger d-flex shadow-sm align-items-center">
  <div role="img" aria-label="Danger icon" class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center"></div>
  <div class="text-body">
    <div class="fw-semibold">Action required</div>
    <div>
      Your library account does not include an email address, which is required to complete this request.
      Please email <%= mail_to "sul-privileges@stanford.edu" %> or call (650) 723-1492 to update your account.
    </div>
  </div>
</div>
