<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */

      .h5 {
        font-size: 1.25rem;
      }
      .h6 {
        font-size: 1rem;
      }
      .list-unstyled {
        padding-left: 0;
        list-style: none;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
