<%= turbo_frame_tag params[:modal] do %>
  <div class="modal-header">
    <h2 class="mb-0">Edit request</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <%= render 'edit_form' %>
<% end %>
