<div id="requests" class="page-section col-lg-9" data-controller="sortable google-cover-image" data-sortable-sort-value="default">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-0">Requests</h1>
    <% if @requests.any? %>
      <%= render SortableDropdownComponent.new(button_label: 'default') do |component| %>
        <% component.with_list_item(label: 'default', field: 'default') %>
        <% component.with_list_item(label: 'date modified', field: 'date modified') %>
        <% component.with_list_item(label: 'title', field: 'title') %>
      <% end %>
    <% end %>
  </div>
  <% if @requests.any? %>
    <ul class="requests p-0" data-sortable-target="list" aria-live="polite">
      <%= render Folio::RequestComponent.with_collection(@requests, patron: patron_or_group) %>
    </ul>
  <% end %>
</div>

<div class="page-section">
  <h2>If your request isn't listed</h2>
  <ul>
    <li>Requests for material from Special Collections &amp; University Archives, the David Rumsey Map Center, the Archive of Recorded Sound and East Asia Library Special Collections are listed in <%= link_to 'https://stanford.aeon.atlas-sys.com/logon/', target: '_blank' do %>
      <%= render Icons::OpenInNewComponent.new %> Aeon.
    <% end %>
    </li>
    <li>Requests requiring approval are not listed here until they have been approved &mdash; typically 1-3 days before your scheduled visit.</li>
  </ul>
</div>
